.c-logo {
  --height: var(--layout-header-height);

  display: inline-flex;
  height: var(--height);
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-decoration-line: underline;
  cursor: pointer;
}

.c-logo--svg {
  margin-left: 5px;
  margin-right: 5px;
}
