@if ($uxEfs==azb) {
  /* ==========================================================================
   COMPONENTS / #ROW-SIMPLE
   ========================================================================== */

  // Settings
  $row-simple-min-height: 25px;
  $row-simple-margin-bottom: $global-spacing-unit-tiny;

  $row-simple-border-bottom: 1px solid color(grey-10);

  $row-simple-small: $global-spacing-unit-small;

  /* Base
  ============================================ */

  .c-row-simple {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
    min-height: $row-simple-min-height;
    padding: 10px 5px;
    border-bottom: 1px solid #ccc;
  }

  .c-row-simple__edit {
    position: absolute;
    right: -12px;
    background: white;
  }

  /* Modifier
  ============================================ */

  .c-row-simple--small {
    margin-left: $row-simple-small;
  }

  .c-row-simple--background {
    padding: 5px 10px;
    border-bottom: none;
    border-radius: 3px;
    background-color: #efefef;
  }

  .c-row-simple-right {
    color: #424242;
    text-align: right;
  }

  .c-row-simple--center {
    justify-content: space-around;
  }

  .c-row-simple--outline {
    border: 1px solid #616161;
    border-radius: $global-border-radius;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 10px;
    margin-bottom: 10px;
    line-height: 1.2;
  }

  .c-row-simple--outline .c-svg {
    font-size: 24px;
  }
}
