/* ==========================================================================
   LAYER / #back-link.styles.scss
   ========================================================================== */

.c-back-link-a {
  display: none;
}

// Afficher le titre en desktop
@include mq($from: large) {
  .c-back-link-a {
    display: flex;
    align-items: center;
    line-height: 1;
    margin-bottom: 20px;
  }

  .c-back-link-txt {
    font-size: 16px;
    margin-left: 5px;
  }

  .c-back-link-svg {
    font-size: 24px;
  }
}
