:host {
  --accordion-transition: all 0.25s;
  --accordion-content-margin-bottom: 1rem;
  --accordion-font: 'Allianz Regular';
}

.c-accordion__trigger {
  display: flex;
  justify-content: space-between;
  font-family: var(--accordion-font);
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  padding: var(--spacing-md) 0 0 0;
  cursor: pointer;
  font-size: 2rem;
  color: var(--brand);
  font-weight: bold;
}

.c-accordion {
  border-top: 2px solid var(--brand-greybg-hover);
}

.c-accordion__icon {
  will-change: auto;
  transform: rotate(0);
  transition: transform 0.25s;
}

.c-accordion__icon--rotate {
  transform: rotate(-180deg);
}

.c-accordion__content {
  transition: var(--accordion-transition);
  overflow: hidden;
  margin-bottom: var(--accordion-content-margin-bottom);
}

.c-accordion__content[aria-hidden='true'] {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

/*
 * La valeur de la custom property --containerHeight
 * est définie en JS par la mixin AriaExpandedMixin
 */
.c-accordion__content[aria-hidden='false'] {
  max-height: var(--containerHeight, 1000px);
  opacity: 1;
  visibility: visible;
}
