:host {
  --button-max-height: 7rem;
  --button-min-height: 5rem;
  --button-min-width: 23rem;
  --button-max-width: 28rem;
  --button-padding: 3rem;
}

.c-btn {
  display: inline-flex;

  /* [1] */
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  /* [2] */
  font: inherit;

  /* [3] */
  text-align: center;

  /* [4] */
  margin: 0;

  /* [4] */
  cursor: pointer;

  /* [5] */
  min-width: var(--button-min-width);
  max-width: var(--button-max-width);
  line-height: 1.2;
  padding: 0 var(--button-padding);
  min-height: var(--button-min-height);
  max-height: var(--button-max-height);
  border: none;
  border-radius: var(--border-radius-md);
  background-color: transparent;
  color: var(--color-text);
  font-size: 1.6rem;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    color 0.2s ease, box-shadow 0.2s ease;

  /* fix */
}

@media (min-width: 74rem) {
  .c-btn {
    padding: 1.3rem;
    line-height: 1.6rem;
  }
}

/* Modifiers
  ============================================ */

.c-btn--primary {
  background-color: var(--brand);
  color: white;
}

.c-btn--primary:hover {
  background-color: var(--brand-hover);
}

.c-btn--primary:active {
  background-color: var(--brand-pressed);
}

.c-btn--primary:focus {
  background-color: var(--brand-accessi);
  box-shadow: 0 9px 10px rgba(69, 69, 69, 0.5);
}

.c-btn--secondary {
  background-color: var(--white);
  color: var(--brand);
  border: 2px solid var(--brand);
}

.c-btn--secondary:hover {
  background-color: var(--brand-hover);
  color: var(--white);
  border: 2px solid var(--brand-hover);
}

.c-btn--secondary:focus {
  color: var(--white);
  background-color: var(--brand-accessi);
  border: 2px solid var(--brand-accessi);
  box-shadow: 0 9px 10px rgba(69, 69, 69, 0.5);
}

.c-btn--disabled,
.c-btn--disabled:hover,
.c-btn--disabled:focus {
  background-color: var(--color-disabled);
  color: white;
  cursor: not-allowed;
}
