:root {
  --layout-header-height: 12rem;
  --layout-sidebar-width: 23rem;
  --layout-footer-height: 3rem;

  --logo-width: 170px;
  --logo-height: 40px;
  --logo-wrap-width: var(--layout-sidebar-width);
  --logo-wrap-height: var(--layout-header-height);
  --logo-background-color: #fff;

  --header-background-color: #fff;
  --sidebar-background-color: #fff;
  --footer-background-color: #fff;
}

.o-layout {
  display: grid;
  grid-template-areas: 'a b';
  grid-template-columns: var(--layout-sidebar-width) 2fr;
  grid-gap: var(--spacing-md);
  max-width: var(--container-width);
  margin: calc(2rem + var(--layout-header-height)) auto 0;
}

ux-header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
}

ux-sidebar {
  grid-area: a;
  z-index: 40;
}

ux-main {
  grid-area: b;
  overflow: hidden;
}

ux-footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 50;
}
