<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test bux-tabs</title>
  </head>
  <body>
    <test-fixture id="componentFixture">
      <template>
        <bux-tabs>
          <div class="c-tabs__data" title="Paiements étalables">
            <div>
              <h3>section1</h3>
              <p>Paragraphe1</p>
            </div>
          </div>
          <div class="c-tabs__data" title="Étalements modifiables">
            <div>
              <h3>section2</h3>
              <p>Paragraphe2</p>
            </div>
          </div>
          <div class="c-tabs__data" title="Étalements enregistrés">
            <div>
              <h3>section3</h3>
              <p>Paragraphe3</p>
            </div>
          </div>
        </bux-tabs>
      </template>
    </test-fixture>
    <script>
      suite('<bux-tabs>', () => {
        let component;
        setup(() => {
          component = fixture('componentFixture');
          sections = component.querySelectorAll('section');
          tabs = component.querySelectorAll('li[role="presentation"]');
        });

        a11ySuite('componentFixture');

        test(`has 3 section ?`, () => {
          assert.isTrue(sections.length === 3);
        });

        test(`has 3 tabs ?`, () => {
          assert.isTrue(tabs.length === 3);
        });

        test(`section 2 contains "section2" ?`, () => {
          const index = sections[1].textContent.indexOf('section2');
          assert.isAtLeast(index, 0);
        });

        test(`tab 2 is "Étalements modifiables" ?`, () => {
          const index = tabs[1].textContent.indexOf('Étalements modifiables');
          assert.isAtLeast(index, 0);
        });

        test(`tab 1 is now active ?`, () => {
          component.tabactive = 1;
          const ul = component.querySelector('.c-tabs__list');
          const li = component.querySelector('li.is-active');
          assert.isTrue(ul.children[1] === li);
        });
      });
    </script>
  </body>
</html>
