<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test bux-big-input</title>
  </head>
  <body>
    <test-fixture id="componentFixture">
      <template>
        <bux-big-input
          data-value="100"
          state="error"
          required="true"
          data-currency="€"
          data-label="Je suis un label"
          data-error-msg="Le montant doit être supérieur à 100 €"
        >
        </bux-big-input>
      </template>
    </test-fixture>
    <script>
      suite('<bux-big-input>', () => {
        let component;
        let bigInputCurrency;
        let bigInputLabel;
        let bigError;
        let currency;

        setup(() => {
          component = fixture('componentFixture');
          bigInputCurrency = component.querySelector(
            '.big-input-currency-wrap span'
          );
          bigInputLabel = component.querySelector('.big-input-label');
          bigError = component.querySelector('.big-input-error span');
          currency = component.querySelector('big-input-currency-wrap span');
        });

        a11ySuite('componentFixture');

        test('Label msg "Je suis un label" ?', () => {
          let index = bigInputLabel.textContent.indexOf('Je suis un label');
          assert.isAtLeast(index, 0);
        });

        test('currency "€" ?', () => {
          let index = bigInputLabel.textContent.indexOf('€');
          assert.isAtLeast(index, 0);
        });

        test('error msg "Le montant doit être supérieur à 100 €" ?', () => {
          let index = bigError.textContent.indexOf(
            'Le montant doit être supérieur à 100 €'
          );
          assert.isAtLeast(index, 0);
        });
      });
    </script>
  </body>
</html>
