
$error-color: color(error);
$valid-color: color(success);
$empty-color: color(text);


$spacing-unit: $global-spacing-unit;
$spacing-unit-small: $global-spacing-unit-small;

.big-input-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: $global-spacing-unit-small;
}

.big-input-wrap.big-input-state-empty {
    border-bottom: solid 1px $empty-color;
}

.big-input-wrap.big-input-state-valid {
    border-bottom: solid 1px $valid-color;
}

.big-input-wrap.big-input-state-error {
    border-bottom: solid 1px $error-color;
}

.big-input-label {
    font-size: 12px;
}

.big-input-input {
    -moz-appearance: textfield;
    border: none;
    text-align: right;
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    margin-right: 5px;
    font-size: 44px;
    color: $empty-color;
}

.big-input-logo-wrap {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    align-items: center;
}

.big-input-currency-wrap {
    font-size: 44px;
    margin: 0 auto;
}

.big-input-error {
    font-size: 12px;
    color: $error-color;
    margin-top: 2px;
}

@include mq($from: medium) {

    .big-input-sub-main {
        max-width: 340px;
        margin-bottom: $global-spacing-unit;
    }

    .big-input-error {
        font-size: 13px;
    }

    .big-input-label {
        font-size: 13px;
    }
}