@if ($uxEfs==azb) {
  // base
  .c-card__head {
    display: static;
  }

  .c-card__title {
    padding: 8px 10px;
    color: color(white);
    border-radius: 3px 3px 0 0;
    font-size: 1.6rem;
    background: color(brand-deco);
  }

  .c-card__title--left {
    text-align: left;
  }

  .c-card__head--toast {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
