.c-datatable-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--spacing-sm);
  padding-bottom: var(--spacing-xs);
  border-bottom: 1px solid #dedede;
}

::slotted(bux2-text),
::slotted(bux2-amount),
::slotted(div) {
  flex: 1 1 0;
}
