:root {
  --color-primary: #e03136;
  --color-primary-dark: #b30000;
  --color-primary-darker: #961d1f;
  --color-primary-light: #f4575b;
  --color-primary-lighter: #fe8184;
  --color-primary-contrast: #d42d2e;

  --color-primary-hover: var(--color-primary-dark);
  --color-primary-active: var(--color-primary-darker);

  --color-secondary: #444;
  --color-secondary-dark: #979797;
  --color-secondary-darker: #767676;
  --color-secondary-medium: #cdcbcb;
  --color-secondary-light: #e6e6e6;
  --color-secondary-lighter: #f4f4f4;

  --color-text: #444;

  --color-success: #00c222;
  --color-positive: #2dab01;

  --color-error: #e03136;

  --color-body-bg: #f4f4f4;
}
