/* mobile */
:root {
  --font-family: 'Maven Pro', Helvetica, Arial, Nimbus Sans L, sans-serif;

  --text-font-size-xxs: 1.3rem; /* 13px */
  --text-font-size-menu: 1.6rem; /* 16px */

  --text-font-size-xs: 1.1rem; /* 11px */
  --text-font-size-sm: 1.2rem; /* 12px */
  --text-font-size-md: 1.4rem; /* 14px */
  --text-font-size-lg: 1.6rem; /* 16px */
  --text-font-size-xl: 1.8rem; /* 18px */
  --text-font-size-xxl: 2.5rem; /* 25px */
}

/* tablet && desktop */
@media (min-width: 49rem) {
  :root {
    --text-font-size-xs: 1.2rem; /* 12px */
    --text-font-size-sm: 1.4rem; /* 14px */
    --text-font-size-md: 1.6rem; /* 16px */
    --text-font-size-lg: 1.8rem; /* 18px */
    --text-font-size-xl: 2.2rem; /* 22px */
    --text-font-size-xxl: 3rem; /* 25px */
  }
}

/* @todo remove this */
body {
  font-size: var(--text-font-size-md);
  font-family: var(--font-family);
  background-color: var(--color-body-bg);
  background-image: none;
  color: var(--color-text) !important;
}

@media screen and (max-width: 37.4375em) {
  body {
    background-color: #f4f4f4;
  }
}
