:host {
  --color-theme-brand: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

::slotted(a) {
  text-decoration: underline !important;
}

.c-theme--primary {
  color: var(--color-theme-brand) !important;
}
.c-theme--light {
  color: var(--color-theme-light) !important;
}

.c-theme--dark {
  color: var(--color-theme-dark) !important;
}

.c-theme--success {
  color: var(--color-success) !important;
}

.c-theme--error {
  color: var(--color-error) !important;
}

.c-theme--white {
  color: var(--color-white) !important;
}
