/* HEADER */

ux-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

ux-logo,
ux-profil {
  display: none;
  box-sizing: border-box;
}

ux-login,
ux-parametrage,
ux-messagerie {
  align-self: flex-end;
}

@media (min-width: 59rem) {
  ux-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34rem;
    min-width: 34rem;
  }

  ux-profil {
    display: flex;
  }
}

ux-menu#menu-secondary {
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
}

@media (min-width: 59rem) {
  .o-layout {
    /* display: grid; */
    grid-template-columns: 23rem 73rem;
    grid-column-gap: var(--spacing-md);
    width: 98rem;

    /* margin: 16rem auto 0; */
  }

  ux-sidebar {
    position: relative;
  }
}

ux-footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}
