body {
  padding-bottom: 6rem;
}

ux-header {
  --t-header-outer-width: 100%;
  --t-header-inner-width-m: 100%;
  --t-header-inner-width-d: 1070px;
  --t-header-height: 6rem;
  --t-header-margin: 0;
  --t-header-padding: 0;
  --t-header-flex-justify-m: space-between;
  --t-header-flex-justify-d: flex-start;

  --t-header-background: white;
  --t-header-color: inherit;
  --t-header-border: 1px solid #eff;

  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 30;
}

ux-logo,
ux-profil,
ux-espace,
ux-login {
  height: 6rem;
}

ux-parametrage,
ux-messagerie {
  height: 6rem;
  border-right: 1px solid #efefef;
}

ux-profil {
  border-right: 1px solid #efefef;
  border-left: 1px solid #efefef;
}

ux-login {
  --t-login-height: 6rem;
  --t-login-width: 6rem;
  --size-svg: 4.5rem;
}

ux-logo {
  --t-logo-width: 17rem;
  --t-logo-height: 4rem;
}

ux-sidebar {
  --t-sidebar-outer-width: 100%;
  --t-sidebar-inner-width-m: 100vw;
  --t-sidebar-inner-width-d: 100%;
  --t-sidebar-height-m: calc(100vh - (10rem + 3rem));
  --t-sidebar-heigh-d: auto;
  --t-sidebar-margin: 0;
  --t-sidebar-padding: 0;
  --t-sidebar-flex-justify: flex-start;

  --t-sidebar-background-m: white;
  --t-sidebar-background-d: transparent;
  --t-sidebar-color: inherit;
  --t-sidebar-border: none;
  --t-sidebar-box-shadow: none;
}

ux-menu#menu-primary {
  --t-menu-outer-width: 100%;
  --t-menu-inner-width: 100%;
  --t-menu-height: auto;
  --t-menu-margin: 0;
  --t-menu-padding: 0;
  --t-menu-inner-padding: 0;
  --t-menu-flex-justify: flex-start;
  --t-menu-flex-direction: column;
  --t-menu-flex-align-items: unset;

  --t-menu-background: white;
  --t-menu-border: 1px solid #eff;
  --t-menu-border-radius: var(--border-radius-md);
  --t-menu-box-shadow: 0 7px 5px -7px #aaa;
}

#menu-primary ux-menu-item {
  --t-menu-item-outer-width: 100%;
  --t-menu-item-inner-width: 100%;
  --t-menu-item-height: 6rem;
  --t-menu-item-margin: 0;
  --t-menu-item-padding-left: var(--spacing-md);
  --t-menu-item-flex-justify: flex-start;

  --t-menu-item-background: white;
  --t-menu-item-background-hover: white;
  --t-menu-item-background-active: white;
  --t-menu-item-color: inherit;
  --t-menu-item-font-size: var(--text-font-size-md);
  --t-menu-item-border-bottom: 1px solid #ccc;
  --t-menu-item-border-bottom-active: 1px solid #ccc;
  --t-menu-item-border-bottom-hover: 1px solid #ccc;
  --t-menu-item-border-left: 4px solid transparent;
  --t-menu-item-border-left-active: 4px solid var(--color-primary);
  --t-menu-item-border-left-hover: 4px solid var(--color-primary);
  --t-menu-item-box-shadow: none;

  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--text-font-size-sm);
}

ux-footer {
  --t-footer-outer-width: 100%;
  --t-footer-inner-width-m: 100%;
  --t-footer-inner-width-d: 107rem;
  --t-footer-height: 3rem;
  --t-footer-margin: 0;
  --t-footer-padding: 0;
  --t-footer-flex-justify: flex-start;

  --t-footer-border-top: 1px solid #ccc;

  --t-footer-background: white;
  --t-footer-color: inherit;
  --t-footer-border: 1px solid #eff;
  --t-footer-box-shadow: none;
  --t-footer-link-font-size: var(--text-font-size-xs);
}
