/* mobile */
:root {
  --font-family: Arial, 'Helvetica Neue', 'Helvetica', 'Roboto', sans-serif;

  --text-font-size-xs: 1rem;
  --text-font-size-sm: 1.2rem;
  --text-font-size-md: 1.3rem;
  --text-font-size-lg: 1.6rem;
  --text-font-size-xl: 2.4rem;
  --text-font-size-xxl: 2.6rem;

  --text-line-height-sm: 1;
  --text-line-height-md: 1.2;
  --text-line-height-lg: 1.4;

  --heading-font-size-1: 4rem;
  --heading-font-size-2: 3.5rem;
  --heading-font-size-3: 2.6rem;
  --heading-font-size-4: 2.4rem;
  --heading-font-size-5: 2rem;
  --heading-font-size-6: 1.8rem;

  --line-height-heading: 1.3;
  --line-height-text: 1.3;
}

@media (min-width: 49rem) {
  :root {
    --text-font-size-xs: 1.2rem;
    --text-font-size-sm: 1.4rem;
    --text-font-size-md: 1.6rem;
    --text-font-size-lg: 1.8rem;
    --text-font-size-xl: 2.6rem;
    --text-font-size-xxl: 3rem;

    --heading-font-size-1: 5.4rem;
    --heading-font-size-2: 4rem;
    --heading-font-size-3: 3rem;
    --heading-font-size-4: 2.6rem;
    --heading-font-size-5: 2.4rem;
    --heading-font-size-6: 2rem;
  }
}
