:root {
  --color-primary: #e43439;
  --color-primary-dark: hsl(353, 65%, 33%);
  --color-primary-darker: hsl(353, 65%, 23%);
  --color-primary-light: hsl(353, 65%, 63%);
  --color-primary-lighter: hsl(353, 65%, 83%);

  --color-secondary: hsl(0, 0%, 38%);
  --color-secondary-dark: hsl(0, 0%, 28%);
  --color-secondary-darker: hsl(0, 0%, 18%);

  --color-text: #616161;

  --color-focus: hsl(280, 21%, 51%);
  --color-disabled: hsl(0, 0%, 75%);

  --color-success: #a8d81f;
  --color-error: #e43439;
  --color-warning: hsl(328, 91%, 41%);

  --color-background-light: #f4f4f4;
  --color-background: #dedede;
  --color-background-dark: #cecece;
  --color-background-body: ##eaeaea;
}
