@import './colors.css';
@import './line-height.css';
@import './radius.css';
@import './shadow.css';
@import './spacing.css';
@import './typography.css';

/* @import './theme.css';
@import './layout.css'; */

.frame-container iframe {
  border: none !important;
}

.o-layout-navigation {
  padding-top: 100px;
}

#c-header-desktop .c-header__logo-container {
  margin-top: 90px;
}
