<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <script src="/node_modules/web-component-tester/browser.js"></script>
  <title>Test big-heading</title>
</head>

<body>
  <test-fixture id="componentFixture">
    <template>
      <bux-big-heading data-label="Gros titre bien gros" center>
      </bux-big-heading>
    </template>
  </test-fixture>
  <script>
    suite('<bux-big-heading>', () => {
      let component;
      let myEl;
      setup(() => {
        component = fixture('componentFixture');
        // Select like this
        titleEl = component.querySelector('.c-big-heading');
      });

      // Testing center
      test(`Value has class "c-big-heading--center" ?`, () => {
        assert.isTrue(titleEl.classList.contains('c-big-heading--center'));
      });

      // Testing value
      test(`Value is "Gros titre bien gros" ?`, () => {
        assert.isTrue(titleEl.textContent === 'Gros titre bien gros');
      });

    });

  </script>
</body>

</html>
