@if (
  $uxEfs==cmb or
    $uxEfs==cmso or
    $uxEfs==cmmc or
    $uxEfs==cmbpro or
    $uxEfs==cmsopro or
    $uxEfs==cmmcpro
) {
  /* ==========================================================================
   COMPONENTS / #TAB
   ========================================================================== */

  // Settings
  $error-color: color(error);
  $valid-color: color(success);
  $empty-color: color(text);
  $text-color: color(text);
  $input-background: color(white);

  $spacing-unit: $global-spacing-unit;
  $spacing-unit-small: $global-spacing-unit-small;

  .bux-input-wrap {
    position: relative;
    margin-bottom: $spacing-unit-small;
    font-size: 13px;
    width: 100%;
  }

  .bux-input-input {
    display: inline-block;
    flex-grow: 1;
    height: 35px;
    padding: 5px;
    line-height: 1.5;
    color: $text-color;
    background-color: $input-background;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: $global-border-radius;
    box-shadow: none;
    box-sizing: border-box; // fix

    &.has-icon-left {
      padding-left: 35px;
    }

    &.has-icon-right {
      padding-right: 35px;
    }

    &:focus {
      border: solid 1px orange;
    }
  }

  .bux-input-empty .bux-input-input {
    border: 1px solid $empty-color;
  }

  .bux-input-valid .bux-input-input {
    border: solid 1px $valid-color;
  }

  .bux-input-error .bux-input-input {
    border: solid 1px $error-color;
  }

  .bux-input-input-wrap {
    display: flex;
    position: relative;
    align-items: center;
  }

  .bux-input-ico-left {
    position: absolute;
    font-size: 16px;
    left: 10px;
  }

  .bux-input-ico-right {
    position: absolute;
    font-size: 16px;
    right: 10px;
  }

  .bux-input-input[type='number'] {
    -moz-appearance: textfield;
  }

  .bux-input-unit {
    margin-left: 10px;
  }

  .bux-input-error-msg {
    font-size: 12px;
    color: $error-color;
    margin-top: 2px;
  }

  .bux-input-align {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .bux-input-align .bux-input-label {
    margin-right: 5px;
  }

  .bux-input-align .bux-input-error-msg {
    flex-basis: 100%;
  }

  .c-btn--svg .bux-input-ico-right {
    border: 1px solid transparent;
  }

  .c-btn--svg:focus .bux-input-ico-right {
    border: 1px dotted $text-color;
  }

  @include mq($from: medium) {
    .bux-input-wrap {
      margin-bottom: $global-spacing-unit;
      font-size: 14px;
    }
  }
}
