@if ($uxEfs==azb) {
  $arial: 'Arial', 'Helvetica Neue', 'Helvetica', 'Roboto', sans-serif;
  $base-font-family: 'Allianz Regular', $arial;
  $notification-error: color(error);
  $notification-success: color(success);

  $brand: color(brand);
  $brand-hover: color(brand-hover);
  $brand-pressed: color(brand-pressed);
  $brand-accessi: color(brand-accessi);
  $brand-text: color(text);

  label,
  select,
  textarea,
  input[type='date'],
  input[type='datetime'],
  input[type='datetime-local'],
  input[type='email'],
  input[type='month'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='text'] {
    display: inline-block;
    // max-width: 100%;
    // width: auto;
  }

  label,
  select {
    margin: 0;
    padding: 0;
  }

  input[readonly] {
    border: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }

  // Removes red box-shadow in firefox
  input:required {
    box-shadow: none;
  }

  textarea {
    padding: 5px 6px;
  }

  .bux-input-wrap {
    position: relative;
    padding-top: 16px;
    margin-top: 16px;
    width: 100%;
  }

  .c-textfield--no-margin {
    margin-top: 0;
  }

  .bux-input-input {
    color: $brand-text;
    font-family: 'Allianz Light', $arial; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 0.2px;
    height: 32px;
    border: 0;
    border-bottom: 1px solid $brand-text;
    box-sizing: border-box;
    padding: 0;
    padding-bottom: 3px;
    width: 100%;

    &.has-icon-right {
      padding-right: 35px;
    }
  }

  .bux-input-label {
    position: absolute;
    top: 0;
    font-family: 'Allianz Light', $arial; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    display: block;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: clip;
    font-size: 2rem;
    line-height: 2.8rem;
  }

  .bux-input-label--floating {
    cursor: text;
    pointer-events: none;
    transform: translate(0, 16px);
    transition: transform 0.15s ease-out, font-size 0.15s ease-out,
      line-height 0.15s ease-out;
    color: $brand-text;
    letter-spacing: 0.2px;
  }

  .bux-input-input:focus {
    color: $brand;
    background-color: transparent;
    border-color: $brand;
    outline: 2px solid transparent;
    font-family: 'Allianz Bold'; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  }

  .bux-input-input:hover {
    border-color: $brand;
  }

  .bux-input-input--floating[value=''] ~ .bux-input-label,
  .bux-input-input--floating:not(:placeholder-shown) ~ .bux-input-label {
    text-overflow: ellipsis;
    font-size: 12px;
    transform: translate(0, 0);
    line-height: 16px;
    letter-spacing: 0.5px;
    font-family: 'Allianz Bold'; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
    color: $brand-text;
  }

  .bux-input-input--floating:focus ~ .bux-input-label {
    color: $brand;
  }

  .bux-input-input--floating:not([value='']) {
    font-family: 'Allianz Bold'; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
  }

  // When input is valid
  .bux-input-valid input:focus {
    color: $notification-success;
  }

  .bux-input-valid input:focus ~ .bux-input-label {
    color: $notification-success;
  }

  .bux-input-valid input:not(:focus) {
    color: $notification-success;
    border-color: $notification-success;
  }

  // Error colors

  .bux-input-error input:focus {
    color: $notification-error;
  }

  .bux-input-error input:focus ~ .bux-input-label {
    color: $notification-error;
  }

  .bux-input-error input:not(:focus) {
    color: $notification-error;
    border-color: $notification-error;
  }

  .bux-input-wrap .c-message.c-message--error {
    display: none;
  }

  .bux-input-error .c-message.c-message--error {
    display: flex;
    position: absolute !important;
    z-index: 1 !important;
    padding: 0 10px !important;
    font-weight: 800;
  }

  .bux-input-ico-right {
    position: absolute;
    font-size: 16px;
    right: 10px;
  }
}
