:host {
  position: relative;
}

.c-tile-operation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #fff;
  border: solid 1px #e6e6e6;
  border-radius: 20px;
  padding: 10px;
}

.c-tile-operation-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: calc(100%);
}

.c-tile-operation-wicon .c-tile-operation-items {
  width: calc(100% - 35px);
}

.c-tile-operation-svg {
  align-self: center;
  margin: 0 0 0 20px;
  color: var(--color-primary);
}

::slotted(ux-row-cell) {
  display: inline;
}

::slotted([slot='1']) {
  margin-right: 30px;
}

::slotted([slot='2']) {
  order: 1;
  flex: 1 0 100%;
  margin-top: 5px;
}

::slotted([slot='3']) {
  margin: 0 0 0 auto;
}

@media (min-width: 740px) {
  .c-tile-operation {
    padding: 10px 20px;
  }

  ::slotted([slot='2']) {
    order: 0;
    flex: 1 0 0;
    margin-top: 0;
  }

  ::slotted([slot='3']) {
    margin: 0;
  }
}
