.c-message-content {
  background-color: var(--color-background-light);
}

.c-message-icon {
  --color-svg2: white;

  background-color: #606060;
  border-radius: var(--border-radius-circle);
  width: 25px;
  height: 25px;
}
