.c-message {
  display: flex;
  position: relative;
  align-items: center;
}

.c-message-content {
  display: block;
  position: relative;
  width: 100%;
  margin-left: 13px;
  border-radius: 3px;
  padding: 10px 5px 10px 20px;
}

.c-message-icon {
  position: absolute;
  display: flex;
  z-index: 2;
  align-items: center;
  justify-content: center;
}
