:host {
  --container-padding: var(--spacing-lg) var(--spacing-md);
  --container-shadow: 0 7px 5px -7px #aaa;
  --container-radius: var(--border-radius-md);
  --container-border: 1px solid #dadce4;

  background: transparent;
}

.c-container {
  background: white;
  padding: var(--container-padding);
  box-shadow: var(--container-shadow);
  border: var(--container-border);
  border-radius: var(--container-radius);
  display: block;
}
