@if (
  $uxEfs==cmb or
    $uxEfs==cmso or
    $uxEfs==cmmc or
    $uxEfs==cmbpro or
    $uxEfs==cmsopro or
    $uxEfs==cmmcpro
) {
  /* ==========================================================================
   COMPONENTS / #ACCOUNT TILE
   ========================================================================== */

  // Settings
  $background-color-mobile: color(grey-10);
  $color-type-count1: color(account-coul);
  $color-type-saving: color(saving-coul);
  $color-type-saving-mt: color(saving-coul-mt);
  $color-type-saving-lt: color(saving-coul-lt);
  $color-type-revolving: color(revolving-coul);
  $color-bloc-note: color(grey-90);
  $border-color: color(grey-20);
  $border-radius: 3px;

  /* Base
  ============================================ */

  .c-account-tile {
    position: relative;
    line-height: 1.2;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }
  // SIMPLE MODEL
  .c-account-tile__simple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    text-align: center;
    padding: 5px 14px;
    min-height: 48px;
  }
  // SIMPLE MODEL 2
  .c-account-tile__simple-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
  }
  .c-account-tile__simple-2__label {
    font-size: 1.8rem;
    line-height: 1.2;
  }
  .c-account-tile__simple-2__amount {
    text-align: right;
    margin-left: 10px;
  }
  // COMPLETE MODEL
  .c-account-tile__complete {
    margin-bottom: 5px;
    background-color: color(white);
  }
  .c-account-tile__complete__label {
    text-transform: uppercase;
  }
  .c-account-tile__line {
    border-style: none none solid none;
    border-bottom: 2px solid color(grey-90);
    margin-bottom: var(--spacing-xs);
  }
  // MODÈLE D'EN-TÊTE POUR LES PAGES DÉTAIL COMPTE
  .c-account-tile__heading {
    background-color: color(white);
    padding: var(--spacing-xs);
    margin-bottom: var(--spacing-md);
    text-align: center;
  }
  .c-account-tile__heading__label {
    margin-bottom: 0;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--color-primary);
  }
  .c-account-tile__heading__holder {
    text-transform: uppercase;
    margin-bottom: var(--spacing-xs);
  }
  .c-account-tile__heading__footer {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .c-account-tile__heading__updated-on {
    position: absolute;
    top: 0;
    margin-top: -5px;
    right: 0;
    transform: translateY(-100%);
    line-height: 1;
    text-align: right;
  }

  .c-account-tile__heading__print-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -33px;
    height: 27px;
    width: 38px;
    background-color: #e3e2de;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
  }

  .c-account-tile__heading__print-btn svg {
    width: 20px;
    height: 20px;
  }

  .c-account-tile__heading__print-btn:hover,
  .c-account-tile__heading__print-btn:focus {
    background-color: #fff;
    color: #544431;
    cursor: pointer;
  }

  .c-account-tile__heading__updated-on__print {
    position: absolute;
    top: 0;
    margin-top: -5px;
    right: 45px;
    transform: translateY(-100%);
    line-height: 1;
    text-align: right;
  }

  .c-account-tile__heading__footer
    .c-account-tile__note.c-account-tile__heading__footer__row {
    display: flex;
  }

  .c-account-tile__heading__footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .c-account-tile__heading__footer__row > div + div {
    text-align: right;
  }
  .c-account-tile__heading__footer > div:first-child {
    font-size: 2rem;
  }
  .c-account-tile__header {
    color: color(brand-mobile);
  }
  .c-account-tile__brand {
    font-size: 0.9rem;
    margin-bottom: var(--spacing-xs);
    text-transform: uppercase;
  }
  .c-account-tile__amount {
    margin-left: 10px;
    flex-grow: 1;
    order: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  // Bouton switch compte (uniquement sur la variante 'heading')
  .c-switch-btn {
    position: absolute;
    top: 10px;
    right: 0;
  }
  .c-switch-btn .c-btn {
    width: 60px;
    height: 50px;
  }
  .c-account-tile--with-switch-btn .c-account-tile__heading__label,
  .c-account-tile--with-switch-btn .c-account-tile__brand,
  .c-account-tile--with-switch-btn .c-account-tile__heading__holder {
    padding-left: 45px;
    padding-right: 45px;
  }
  .c-account-tile__note {
    display: inline-block;
    order: 1;
    padding: 3px 10px;
    font-size: 13px;
    line-height: 1.2;
    border-radius: $border-radius;
    background-color: $color-bloc-note;
  }
  .c-account-tile__heading__footer .c-account-tile__note {
    width: 100%;
  }
  .c-account-tile__note p {
    margin: 0;
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
  }
  .c-account-tile__complete .c-account-tile__header {
    padding: 5px 5px 0;
  }
  .c-account-tile__complete .c-account-tile__body {
    padding: 5px;
  }
  //body 2ème bloc
  .c-account-tile__complete .c-account-tile__body > div:last-child {
    display: flex;
    align-items: center;
  }
  // Tuile avec lien
  .c-account-tile--with-link .c-account-tile__header,
  .c-account-tile--with-link .c-account-tile__body {
    padding-right: 35px;
  }
  .c-account-tile__simple.c-account-tile--with-link {
    padding-left: 35px;
    padding-right: 35px;
  }
  // Lien pour effectuer un virement depuis ce compte (masqué au format mobile) Cet élément est masqué pour l'accessibilité.
  .c-transfert-link {
    position: absolute;
    top: 4px;
    right: 4px;
    height: auto;
    min-width: 100px;
    padding: 0;
    text-align: center;
    line-height: 20px;
    display: none;
  }
  .c-transfert-link .c-link--block {
    border-radius: 3px;
    border: 1px solid rgba(color(black), 0.3);
    background-color: rgba(color(black), 0.2);
  }

  /* State
    ============================================ */
  @include mq($from: medium) {
    // Simple model 2
    .c-account-tile__simple-2 {
      padding: 10px;
    }
    .c-account-tile__simple-2__label {
      font-size: 3rem;
    }
    .c-account-tile__simple-2 .c-amount {
      font-size: 2.8rem;
    }
    // Complete model
    .c-account-tile__complete {
      border: 1px solid $border-color;
    }
    .c-account-tile__complete .c-account-tile__header {
      padding-bottom: 5px;
      color: color(brand);
    }
    .c-account-tile__complete .c-account-tile__body {
      display: flex;
      justify-content: space-between;
      min-height: 50px;
    }
    // Pour le type "tablet variant" > changements à partir du format tablette
    .c-account-tile--tablet-variant.c-account-tile--with-link
      .c-account-tile__header {
      padding-right: 5px;
    }
    .c-account-tile--tablet-variant {
      overflow: hidden;
      margin-bottom: 20px;
    }
    .c-account-tile--tablet-variant .c-account-tile__body {
      // On limite la zone du lien cliquable pour ne pas déborder sur le titre
      position: relative;
    }
    //body 2ème bloc
    .c-account-tile__complete .c-account-tile__body > div:last-child {
      flex-direction: column;
      align-items: flex-end;
    }
    .c-account-tile__amount {
      order: initial;
    }
    .c-account-tile__amount .c-amount {
      font-size: 2.8rem;
    }
    .c-account-tile__note {
      order: initial;
      background-color: transparent;
      border-radius: 0;
      padding-right: 0;
    }

    .c-transfert-link {
      display: inline-block;
    }

    // VARIANTES DE COULEUR (TYPES COMPTE, ÉPARGNE1 , ÉPARGNE 2, ...)
    .c-account-tile--tablet-variant.c-account-tile--account
      .c-account-tile__header {
      background-color: $color-type-count1;
      color: color(white);
    }
    .c-account-tile--tablet-variant.c-account-tile--saving
      .c-account-tile__header {
      background-color: $color-type-saving;
      color: color(white);
    }
    .c-account-tile--tablet-variant.c-account-tile--saving-mt
      .c-account-tile__header {
      background-color: $color-type-saving-mt;
      color: color(white);
    }
    .c-account-tile--tablet-variant.c-account-tile--saving-lt
      .c-account-tile__header {
      background-color: $color-type-saving-lt;
      color: color(white);
    }
    .c-account-tile--tablet-variant.c-account-tile--revolving
      .c-account-tile__header {
      background-color: $color-type-revolving;
      color: color(white);
    }

    // MODÈLE D'EN-TÊTE: VARIANTES DE COULEUR (TYPES COMPTE, ÉPARGNE1 , ÉPARGNE 2, ...)
    .c-account-tile__heading.c-account-tile--account
      .c-account-tile__heading__label {
      color: $color-type-count1;
    }
    .c-account-tile__heading.c-account-tile--saving
      .c-account-tile__heading__label {
      color: $color-type-saving;
    }
    .c-account-tile__heading.c-account-tile--saving-mt
      .c-account-tile__heading__label {
      color: $color-type-saving-mt;
    }
    .c-account-tile__heading.c-account-tile--saving-lt
      .c-account-tile__heading__label {
      color: $color-type-saving-lt;
    }
    .c-account-tile__heading.c-account-tile--revolving
      .c-account-tile__heading__label {
      color: $color-type-revolving;
    }
  }

  @include mq($from: large) {
    .c-account-tile--shadow {
      box-shadow: 0 0 6px -2px #999;
    }
    // Simple model 2
    .c-account-tile__simple-2 {
      margin-bottom: 20px;
    }
  }
}
