<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test bux-message</title>
  </head>
  <body>
    <test-fixture id="messageComponentFixture">
      <template>
        <bux-account-tile
          account-model="simple"
          account-label="COMPTE CHEQUES 2"
          account-brand="CMB"
          account-holder="JEAN SPECIMEN"
          account-coholder="JEANNE SPECIMEN"
          account-details="Mis à jour à 20h45"
          account-amount="200,50"
          account-link-url="detail.html"
        >
        </bux-account-tile>
      </template>
    </test-fixture>
    <script>
      suite('<bux-account-tile>', () => {
        let component;
        let accountLabel;
        let accountBrand;
        let accountHolder;
        let accountCoholder;
        let accountDetails;
        let accountAmount;
        let accountLinkUrl;

        setup(() => {
          component = fixture('messageComponentFixture');
          accountLabel = component.querySelector('.c-account-tile__label');
          accountBrand = component.querySelector('.c-account-tile__brand');
          accountHolder = component.querySelector('.c-account-tile__holder');
          accountCoholder = component.querySelector(
            '.c-account-tile__coholder'
          );
          accountDetails = component.querySelector('.c-account-tile__details');
          accountAmount = component.querySelector('.c-account-tile__amount');
          accountLinkUrl = component.querySelector('.c-account-tile__link-url');
        });

        a11ySuite('messageComponentFixture');

        test('Label "COMPTE CHEQUES 2" string ?', () => {
          assert.isTrue(accountLabel.textContent === 'COMPTE CHEQUES 2');
        });

        test('Brand "CMB" string ?', () => {
          assert.isTrue(accountBrand.textContent === 'CMB');
        });

        test('Holder "JEAN SPECIMEN" string ?', () => {
          assert.isTrue(accountHolder.textContent === 'JEAN SPECIMEN');
        });

        test('Coholder "JEANNE SPECIMEN" string ?', () => {
          assert.isTrue(accountCoholder.textContent === 'JEANNE SPECIMEN');
        });

        test('Details "Mis à jour à 20h45" string ?', () => {
          assert.isTrue(accountDetails.textContent === 'Mis à jour à 20h45');
        });

        test('Amount "200.40" string ?', () => {
          assert.isTrue(accountAmount.textContent === '200.40');
        });

        test('Link URL "detail.html" string ?', () => {
          assert.isTrue(accountAmount.textContent === 'detail.html');
        });
      });
    </script>
  </body>
</html>
