.c-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.c-link__arrow {
  position: absolute;
  width: var(--c-link-width);
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
