.c-loader {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s ease-in;
  z-index: 100;
}

.c-loader.is-loading {
  display: flex;
  opacity: 1;
}

.c-loader__overlay {
  background-color: hsla(0, 0%, 91.8%, 0.9);
}

.c-loader__animated {
  position: relative;
  width: 40px;
  height: 40px;
}

.c-loader__animated::before,
.c-loader__animated::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid transparent;
  border-top-color: var(--color-primary);
}

.c-loader__animated::before {
  z-index: 100;
  animation: spin 0.5s infinite linear;
}

.c-loader__animated::after {
  border: 5px solid #ddd;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
