.c-loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.9);
  transition: opacity 0.25s ease-in;
  z-index: 15;

  @include mq($from: medium) {
    transform: scale(1.03);
    background-color: rgba(234, 234, 234, 0.9);
  }
}

.c-loader.is-loading {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.c-loader__wrapper {
  position: relative;
  top: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.c-loader__text {
  font-family: 'Maven pro', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #666;
  text-transform: uppercase;
  margin-top: 20px;
  letter-spacing: 0.9px;
  max-width: 50%;
  text-align: center;
}
