/* ==========================================================================
   COMPONENTS / #END-PROCESS
   ========================================================================== */

// Settings

/* Base
  ============================================ */

.c-end-process {
  margin-bottom: $global-spacing-unit;
  text-align: center;
  padding: $global-spacing-unit-large $global-spacing-unit;
  background-color: color(white);

  @include mq($from: medium) {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
}

.c-end-process__label {
  font-weight: bold;
}

.c-end-process__sublabel {
  @include mq($from: medium) {
    margin-bottom: 40px;
  }
}

.c-end-process__icon {
  margin-bottom: $global-spacing-unit;
  font-size: 8rem;
  border: 1px solid currentColor;
  border-radius: 50%;
  padding: 15px;
  overflow: visible; // Sinon certaines icônes sont coupées à cause du padding

  @include mq($from: medium) {
    margin-bottom: $global-spacing-unit-large;
    font-size: 10rem;
  }
}

.c-end-process__img {
  margin-bottom: $global-spacing-unit;

  @include mq($from: medium) {
    margin-bottom: $global-spacing-unit-large;
  }
}

.c-end-process--success .c-end-process__icon {
  color: color(success);

  @include mq($from: medium) {
    color: color(text);
  }
}

.c-end-process--pending .c-end-process__icon {
  position: absolute;
  margin-left: -4rem;
  color: color(white);
  background-color: color(success);
  animation: spin 4s linear infinite;
  padding: 10px;

  @include mq($from: medium) {
    margin-left: -5rem;
  }
}
.rotating-icon__wrapper {
  position: relative;
  height: 8em;

  @include mq($from: medium) {
    height: 10em;
  }
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.c-end-process--error .c-end-process__icon {
  color: color(error);

  @include mq($from: medium) {
    color: color(text);
  }
}

.c-end-process__html a {
  text-decoration: underline;
}

// Reset / force
.c-end-process__html .c-btn {
  text-decoration: none;
}
.c-end-process__html .c-message {
  text-align: left;
}
