:host,
:host([open='false']) {
  position: absolute;
  top: 10rem;
  height: var(--t-sidebar-height-m);
  width: var(--t-sidebar-inner-width-m);
  background: var(--t-sidebar-background-m);
  transform: translateX(0);
  transition: 300ms transform ease-in-out;
}

:host([open='true']),
:host([open='open']) {
  transform: translateX(-100%);
}

@media (min-width: 59rem) {
  :host,
  :host([open='false']) {
    position: relative;
    top: 0;
    height: var(--t-sidebar-height-d);
    width: var(--t-sidebar-inner-width-d);
    background: var(--t-sidebar-background-d);
  }
}
