<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test cnil</title>
    <script>
      document.cookie =
        'myCookie=false; expires=Thu, 18 Dec 2013 12:00:00 UTC; path=/';
    </script>
  </head>
  <body>
    <test-fixture id="componentFixture">
      <template>
        <bux-cnil
          data-content="Test bandeau Cnil"
          data-cookie-name="myCookie"
          data-cookie-duration="1"
        ></bux-cnil>
      </template>
    </test-fixture>

    <script>
      suite('<bux-cnil>', () => {
        let component;
        let myEl;

        setup(() => {
          component = fixture('componentFixture');
        });

        test("Content is 'Test bandeau Cnil' ? ", () => {
          assert.isTrue(
            component
              .querySelector('.c-cnil-p')
              .textContent.indexOf('Test bandeau Cnil') >= 0
          );
        });

        test('Content is visible at startup ? ', () => {
          assert.isTrue(
            component.querySelector('.c-cnil-wrapper.is-visible') !== null
          );
        });

        test("Put the cookie named 'myCookie' when click OK", () => {
          component.querySelector('.c-cnil-button').click();
          assert.isTrue(document.cookie.indexOf('myCookie') >= 0);
        });

        test('Content is invisible after OK click', () => {
          assert.isTrue(
            component.style.display === 'none' &&
              !component.querySelector('.c-cnil-p.is-visible')
          );
        });
      });
    </script>
  </body>
</html>
