.c-text--bold {
  font-weight: bold;
}
.c-text--italic {
  font-style: italic;
}
.c-text--underline {
  text-decoration: underline;
}
.c-text--uppercase {
  text-transform: uppercase;
}

.c-text--color-part {
  color: var(--color-text-part, var(--color-primary, #b62737));
}
.c-text--color-pro {
  color: var(--color-text-pro, var(--color-secondary, #51bbc9));
}

.c-text--color-success {
  color: var(--color-success, #a8d81f);
}
.c-text--color-error {
  color: var(--color-error, #b62737);
}

.c-text--xs {
  font-size: var(--text-font-size-xs, 10px);
}
.c-text--sm {
  font-size: var(--text-font-size-sm, 12px);
}
.c-text--md {
  font-size: var(--text-font-size-md, 16px);
}
.c-text--lg {
  font-size: var(--text-font-size-lg, 18px);
}
.c-text--xl {
  font-size: var(--text-font-size-xl, 24px);
}
