/* ==========================================================================
   COMPONENTS / #BUTTONS
   ========================================================================== */

// Settings
$text-size-sm-mobile: 11px;
$text-size-sm-desktop: 12px;
$text-size-md-mobile: 13px;
$text-size-md-desktop: 14px;
$text-size-xl-mobile: 16px;
$text-size-xl-desktop: 16px;
$color-black: #424242;

/* Base
  ============================================ */
.c-text--sm {
  font-size: $text-size-sm-mobile;

  @include mq($from: medium) {
    font-size: $text-size-sm-desktop;
  }
}

.c-text--md {
  font-size: $text-size-md-mobile;

  @include mq($from: medium) {
    font-size: $text-size-md-desktop;
  }
}

.c-text--xl {
  font-size: $text-size-xl-mobile;

  @include mq($from: medium) {
    font-size: $text-size-xl-desktop;
  }
}

.c-text--black {
  color: $color-black
}
