:host {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 1px solid #dedede;
}

::slotted(div) {
  flex: 1 1 0;
  text-transform: uppercase;
  font-size: 13px;
}

::slotted(bux-amount) {
  flex: 1 1 0;
}
