:host {
  --t-menu-item-dropdown-transition: all 0.25s;
}

.c-menu-item-dropdown__trigger {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  min-height: var(--t-menu-item-height, auto);
  padding-top: var(--t-menu-item-padding-top, 0);
  padding-right: var(--t-menu-item-padding-right, 0);
  padding-bottom: var(--t-menu-item-padding-bottom, 0);
  padding-left: var(--t-menu-item-padding-left, 0);
  color: var(--t-menu-item-color);
  border-top: var(--t-menu-item-border-top, none);
  border-right: var(--t-menu-item-border-right, none);
  border-bottom: var(--t-menu-item-border-bottom, none);
  border-left: var(--t-menu-item-border-left, none);
  font-size: var(--t-menu-item-font-size);
  cursor: pointer;
  transition: var(--t-menu-item-transition);
  font-family: var(--font-family);
  width: 100%;
}

.c-menu-item-dropdown__trigger:hover {
  color: var(--t-menu-item-color-hover, inherit);
  background: var(--t-menu-item-background-hover);
  border-top: var(--t-menu-item-border-top-hover, none);
  border-right: var(--t-menu-item-border-right-hover, none);
  border-bottom: var(--t-menu-item-border-bottom-hover, none);
  border-left: var(--t-menu-item-border-left-hover, none);
}

:host([active='true']) .c-menu-item-dropdown__trigger {
  color: var(--t-menu-color-active, inherit);
  background: var(--t-menu-item-background-active);
  border-top: var(--t-menu-item-border-top-active, none);
  border-right: var(--t-menu-item-border-right-active, none);
  border-bottom: var(--t-menu-item-border-bottom-active, none);
  border-left: var(--t-menu-item-border-left-active, none);
}

/*
 * concerne la gestion du dropdown et son animation
 */
.c-menu-item-dropdown__content {
  transition: var(--t-menu-item-dropdown-transition);
  overflow: hidden;
  margin-bottom: var(--menu-content-margin-bottom);
}

.c-menu-item-dropdown__content[aria-hidden='true'] {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

/*
 * La valeur de la custom property --containerHeight
 * est définie en JS par la mixin AriaExpandedMixin
 */
.c-menu-item-dropdown__content[aria-hidden='false'] {
  max-height: var(--containerHeight, 1000px);
  opacity: 1;
  visibility: visible;
}
