:host {
  box-sizing: border-box;
  display: block;
  width: var(--t-menu-outer-width);
  height: var(--t-menu-height);
  background-color: var(--t-menu-background);
  border-radius: var(--t-menu-border-radius);
  box-shadow: var(--t-menu-box-shadow);
  border-top: var(--t-menu-border-top, none);
  border-right: var(--t-menu-border-right, none);
  border-bottom: var(--t-menu-border-bottom, none);
  border-left: var(--t-menu-border-left, none);
}

.c-menu {
  display: flex;
  justify-content: var(--t-menu-flex-justify);
  flex-direction: var(--t-menu-flex-direction);
  align-items: var(--t-menu-flex-align-items);
  width: var(--t-menu-inner-width-m);
  height: var(--t-menu-height);
  box-sizing: border-box;
}

@media (min-width: 59rem) {
  .c-menu {
    width: var(--t-menu-inner-width-d);
    margin: 0 auto;
    padding-left: var(--t-menu-inner-padding);
  }
}

::slotted(*) {
  flex: 1 1 auto;
}
