  /* $arial: 'Arial', 'Helvetica Neue', 'Helvetica', 'Roboto', sans-serif;
  $base-font-family: 'Allianz Regular', $arial; */

  .c-btn--large {
    font-size: 2rem;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 80px;
    max-height: 100px;
    text-transform: uppercase;
    margin: 0 30px 20px 30px;
  }

  .c-btn--medium {
    font-size: 1.6rem;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 50px;
    max-height: 70px;
    text-transform: uppercase;
    margin: 0 30px 20px 30px;
  }

  .c-btn--small {
    font-size: 1.4rem;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 32px;
    margin: 0 10px 20px 10px;
  }

  .c-btn--primary,
  .c-btn--secondary,
  .c-btn--tertiary {
    display: inline-flex;

    /* font-family: $base-font-family; */
    border-radius: 5px;
    transition: background-color 0.2s ease, border-color 0.2s ease,
      color 0.2s ease, box-shadow 0.2s ease;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;
  }

  .c-btn--outlined {
    color: var(--brand);
    border: 3px solid var(--brand);
    border-radius: 5px;
    background: transparent;
  }

  .c-btn--primary {
    color: var(--white);
    background-color: var(--brand);
  }
  .c-btn--primary:hover {
    background-color: var(--brand-hover);
    cursor: pointer;
  }
  .c-btn--primary:active {
    background-color: var(--brand-pressed);
  }
  .c-btn--primary.is-disabled {
    opacity: 0.4;
    background-color: var(--brand);
    cursor: not-allowed;
  }
  
  .c-btn--secondary {
    color: var(--brand);
    background-color: transparent;
  }
  .c-btn--secondary:hover {
    background-color: var(--brand-hover);
    cursor: pointer;
  }
  .c-btn--secondary:active {
    background-color: var(--brand-pressed);
    color: var(--white);
  }
  .c-btn--secondary.is-disabled {
    opacity: 0.4;
    background-color: transparent;
    color: var(--brand);
    cursor: not-allowed;
  }
  .c-btn--secondary.is-disabled:hover {
    opacity: 0.4;
    background-color: transparent;
    color: var(--brand);
  }

  .c-btn--tertiary {
    border:2px solid var(--white);
    color: var(--brand);
    background-color: var(--white);
  }
  .c-btn--tertiary:hover {
    background-color:var(--brand-greybg-hover);
    color: var(--brand);
  }
  .c-btn--tertiary:active {
    background-color:var(--bg-grey-40);
    color: var(--brand);
  }
  .c-btn--tertiary.is-disabled {
    opacity: 0.4;
    background-color:transparent;
    color: var(--brand);
  }
  .c-btn--tertiary.is-disabled:hover {
    opacity: 0.4;
    background-color:transparent;
    color: var(--brand);
  }

  .c-btn--primary:focus,
  .c-btn--secondary:focus,
  .c-btn--tertiary:focus {
    outline: none;
    background-color: var(--brand-accessi);
    box-shadow: 0 9px 10px rgba(69, 69, 69, 0.5);
    color: var(--white);
  }
  .c-btn--primary .icon,
  .c-btn--secondary .icon,
  .c-btn--tertiary .icon {
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
  }
  .c-btn--primary .icon svg,
  .c-btn--secondary .icon svg,
  .c-btn--tertiary .icon svg {
    width: 100%;
    height: 100%;
  }
  .c-btn--primary:hover,
  .c-btn--secondary:hover {
    color: var(--white);
  }

  .c-btn--primary.c-btn--large,
  .c-btn--secondary.c-btn--large,
  .c-btn--tertiary.c-btn--large {
    border: 3px solid var(--brand);
  }
  .c-btn--primary.c-btn--large:hover,
  .c-btn--secondary.c-btn--large:hover,
  .c-btn--tertiary.c-btn--large:hover {
    border: 3px solid var(--brand-hover);
  }
  .c-btn--primary.c-btn--large:active,
  .c-btn--secondary.c-btn--large:active,
  .c-btn--tertiary.c-btn--large:active {
    border: 3px solid var(--brand-pressed);
  }
  .c-btn--primary.c-btn--large.is-disabled,
  .c-btn--secondary.c-btn--large.is-disabled,
  .c-btn--tertiary.c-btn--large.is-disabled {
    border: 3px solid var(--brand);
  }
  .c-btn--primary.c-btn--large:focus,
  .c-btn--secondary.c-btn--large:focus,
  .c-btn--tertiary.c-btn--large:focus {
    border: 3px solid var(--brand-accessi);
  }
  .c-btn--primary.c-btn--large.is-disabled:hover,
  .c-btn--secondary.c-btn--large.is-disabled:hover,
  .c-btn--tertiary.c-btn--large.is-disabled:hover {
    border: 3px solid transparent;
    cursor: not-allowed;
  }
  .c-btn--primary.c-btn--large:focus:hover,
  .c-btn--secondary.c-btn--large:focus:hover,
  .c-btn--tertiary.c-btn--large:focus:hover {
    border: 3px solid var(--brand-hover);
  }
  .c-btn--primary.c-btn--large:focus:active,
  .c-btn--secondary.c-btn--large:focus:active,
  .c-btn--tertiary.c-btn--large:focus:active {
    border: 3px solid var(--brand-pressed);
  } 

  .c-btn--primary.c-btn--medium,
  .c-btn--primary.c-btn--small,
  .c-btn--secondary.c-btn--medium,
  .c-btn--secondary.c-btn--small {
    border: 2px solid var(--brand);
  }
  .c-btn--primary.c-btn--medium:active,
  .c-btn--primary.c-btn--small:active,
  .c-btn--secondary.c-btn--medium:active,
  .c-btn--secondary.c-btn--small:active {
    border: 2px solid var(--brand-pressed);
  }
  .c-btn--primary.c-btn--medium.is-disabled,
  .c-btn--primary.c-btn--small.is-disabled,
  .c-btn--secondary.c-btn--medium.is-disabled,
  .c-btn--secondary.c-btn--small.is-disabled {
    border: 2px solid var(--brand);
  }
  .c-btn--primary.c-btn--medium:focus,
  .c-btn--primary.c-btn--small:focus,
  .c-btn--secondary.c-btn--medium:focus,
  .c-btn--secondary.c-btn--small:focus {
    border: 2px solid var(--brand-accessi);
  }
  .c-btn--primary.c-btn--medium.is-disabled:hover,
  .c-btn--primary.c-btn--small.is-disabled:hover,
  .c-btn--secondary.c-btn--medium.is-disabled:hover,
  .c-btn--secondary.c-btn--small.is-disabled:hover {
    border: 2px solid var(--brand);
  }
  .c-btn--primary.c-btn--medium:focus:hover,
  .c-btn--primary.c-btn--small:focus:hover,
  .c-btn--secondary.c-btn--medium:focus:hover,
  .c-btn--secondary.c-btn--small:focus:hover {
    border: 2px solid var(--brand-hover);
  }
  .c-btn--primary.c-btn--medium:focus:active,
  .c-btn--primary.c-btn--small:focus:active,
  .c-btn--secondary.c-btn--medium:focus:active,
  .c-btn--secondary.c-btn--small:focus:active {
    border: 2px solid var(--brand-pressed);
  }
  .c-btn--primary.c-btn--medium:hover:not(.is-disabled),
  .c-btn--primary.c-btn--small:hover:not(.is-disabled),
  .c-btn--secondary.c-btn--medium:hover:not(.is-disabled),
  .c-btn--secondary.c-btn--small:hover:not(.is-disabled) {
    border: 2px solid var(--brand-hover);
  }

  .c-btn--tertiary.c-btn--medium, 
  .c-btn--tertiary.c-btn--small {
    border:2px solid var(--white);
  }
  .c-btn--tertiary.c-btn--medium:active, 
  .c-btn--tertiary.c-btn--small:active {
    border:2px solid var(--bg-grey-40);
    color:var(--brand);
  }
  .c-btn--tertiary.c-btn--medium.is-disabled, 
  .c-btn--tertiary.c-btn--small.is-disabled {
    border:2px solid var(--white);
  }
  .c-btn--tertiary.c-btn--medium:focus, 
  .c-btn--tertiary.c-btn--small:focus {
    border:2px solid var(--brand-accessi);
  }
  .c-btn--tertiary.c-btn--medium.is-disabled:hover, 
  .c-btn--tertiary.c-btn--small.is-disabled:hover{
    border:2px solid var(--white);
  }
  .c-btn--tertiary.c-btn--medium:focus:hover, 
  .c-btn--tertiary.c-btn--small:focus:hover {
    border:2px solid var(--brand-greybg-hover);
  }
  .c-btn--tertiary.c-btn--medium:focus:active, 
  .c-btn--tertiary.c-btn--small:focus:active {
    border:2px solid var(--bg-grey-40);
  }
  .c-btn--tertiary.c-btn--medium:hover:not(.is-disabled), 
  .c-btn--tertiary.c-btn--small:hover:not(.is-disabled) {
    border:2px solid var(--brand-greybg-hover);
    color:var(--brand);
  }

  .c-btn--svg {
    color: var(--brand);
    border-radius: 5px;
    font-size: 1.6rem;

    /* font-family: 'Allianz SemiBold', 'Arial', 'Helvetica Neue', 'Helvetica',
      'Roboto', sans-serif; */
    text-transform: uppercase;
    padding: 0 20px 0 10px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    margin-left: -10px;
    border: none;
    background: none;
  }
  .c-btn--svg.c-svg {
    margin-right: 0;
    margin-bottom: 0;
    font-size: 3rem;
  }

  .c-btn--svg:hover {
    border: none;
    cursor: pointer;
  }
  .c-btn--svg:active {
    background-color: var(--brand-pressed);
    color: var(--white);
  }
  .c-btn--svg.is-disabled {
    opacity: 0.4;
    background-color: transparent;
    color: var(--brand);
    cursor: not-allowed;
  }
  .c-btn--svg.is-disabled:hover {
    opacity: 0.4;
    background-color: transparent;
    color: var(--brand);
  }

  .c-btn--svg:focus {
    outline: none;
    background-color: var(--brand-accessi);
    box-shadow: 0 9px 10px rgba(69, 69, 69, 0.5);
    color: var(--white);
  }

  .c-btn--svg.c-btn--large,
  .c-btn--svg.c-btn--medium,
  .c-btn--svg.c-btn--small {
    border: none;
  }
