.c-flex {
  display: flex;
  justify-content: center;
  margin-left: calc(var(--spacing-xs) * -1);
  margin-right: calc(var(--spacing-xs) * -1);
}

.c-flex--column {
  flex-direction: column;
}

::slotted(*) {
  flex-grow: 1;
  flex-basis: 0;
  margin: var(--spacing-xs);
}
