:host {
  display: flex;
  flex-wrap: wrap;
  --tab-bottom: 0.5rem;
  --tab-padding: 1.25rem;
  --tab-spacing: 0.3rem;
  --tab-text-color: white;
  --tab-text-size: 0.8rem;
  --tab-second-color: #d1cfcd;
  --tab-third-color: #e9e6e4;
}

.c-tabs {
  width: 100%;
}

.c-tabs__list {
  display: flex;
  border-bottom: var(--tab-bottom) solid var(--color-primary);
  margin-top: var(--spacing-xs);
}

.c-tabs__list ::slotted([role='tab']) {
  padding: var(--tab-padding);
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: var(--tab-spacing);
  background-color: var(--tab-third-color);
  text-align: center;
  font-size: var(--text-font-size-xs);
  line-height: var(--text-line-height-sm);
  cursor: pointer;
}

.c-tabs__list ::slotted([aria-selected='true']) {
  background-color: var(--color-primary) !important;
  color: var(--tab-text-color);
}

.c-tabs__list ::slotted([role='tab']:nth-last-child(4)) {
  background-color: var(--tab-second-color);
}

.c-tabs__list ::slotted([role='tab']:nth-last-child(2)) {
  margin-right: 0;
}

.c-tabs__content {
  display: flex;
}

.c-tabs__content ::slotted([role='tabpanel']) {
  flex-basis: 100%;
}

bux-tabs:not(:defined),
bux-tabs-button:not(:defined),
bux-tabs-panel:not(:defined) {
  display: block;
}
