:host {
  display: flex;
  flex-wrap: wrap;
  --tab-bottom: 0.5rem;
  --tab-padding: 0.5rem;
  --tab-text-color: white;
  --tab-text-size: 0.8rem;
  --tab-border-color: black;
  --tab-border-size: 0.1rem;
}

.c-tabs {
  width: 100%;
  margin-bottom: var(--spacing-base);
}

.c-tabs__list {
  display: flex;
  margin-top: var(--spacing-xs);
}

.c-tabs__list ::slotted([role='tab']) {
  padding: var(--tab-padding);
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
  border: var(--tab-border-size) solid var(--tab-border-color);
  border-left: none;
  text-align: center;
  font-size: var(--text-font-size-sm);
  line-height: var(--text-line-height-sm);
  cursor: pointer;
}

.c-tabs__list ::slotted([role='tab']:first-child) {
  border-top-left-radius: var(--border-radius-md);
  border-bottom-left-radius: var(--border-radius-md);
  border-left: var(--tab-border-size) solid var(--tab-border-color);
}

/* element:last-child doesn't work properly && second child has to be triggered from the end of the "list" */
.c-tabs__list ::slotted([role='tab']:nth-last-child(2)) {
  border-top-right-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
}

.c-tabs__list ::slotted([aria-selected='true']) {
  background-color: var(--color-primary);
  color: var(--tab-text-color);
  font-weight: bold;
}

.c-tabs__content {
  display: flex;
  padding-top: var(--spacing-base);
}

.c-tabs__content ::slotted([role='tabpanel']) {
  flex-basis: 100%;
}

.c-tabs:not(:defined),
.c-tabs__list:not(:defined),
.c-tabs__content:not(:defined) {
  display: block;
}
