@if (
  $uxEfs==cmb or
    $uxEfs==cmso or
    $uxEfs==cmmc or
    $uxEfs==cmbpro or
    $uxEfs==cmsopro or
    $uxEfs==cmmcpro or
    $uxEfs==abei
) {
  /* ==========================================================================
   COMPONENTS / #BUTTONS
   ========================================================================== */

  // Settings
  $message-margin-bottom: $global-spacing-unit;
  $message-margin-bottom-small: $global-spacing-unit-tiny;

  $message-margin-left: $global-spacing-unit;
  $message-padding-top: $global-spacing-unit-small;
  $message-padding-right: $global-spacing-unit-tiny;
  $message-padding-bottom: $global-spacing-unit-small;
  $message-padding-left: $global-spacing-unit;

  $message-border-radius: $global-border-radius;

  $message-text-margin-bottom: $global-spacing-unit-small;

  /* Base
  ============================================ */

  .c-message {
    position: relative;
    margin-bottom: 10px;
    margin-left: 15px;
    padding-top: $message-padding-top;
    padding-right: $message-padding-right;
    padding-bottom: $message-padding-bottom;
    padding-left: $message-padding-left;
    border-radius: $message-border-radius;
    @include font(text-body, small);

    @include mq($from: medium) {
      margin-bottom: $message-margin-bottom;
      margin-left: $message-margin-left;
      @include font(text-body, large);
    }
  }

  .c-message a {
    text-decoration: underline;
  }

  .c-message__content > p {
    margin-bottom: 5px;
  }

  .c-message p:last-of-type {
    margin-bottom: 0;
  }

  .c-message__icon {
    position: absolute;
    top: 50%;
    left: -12.5px;
    transform: translateY(-50%);
    width: 25px;
    padding: 5px;
    border-radius: 50%;
    background-color: color(grey-50);
    fill: color(white);
    color: color(white); // FF 42
  }

  .c-message__link {
    text-decoration: underline;
  }

  /* Modifiers
  ============================================ */

  .c-message--info {
    background-color: #efefef;
  }

  .c-message--warning {
    border: 2px solid color(brand-mobile);

    .c-message__icon {
      background-color: color(brand-mobile);
    }

    @include mq($from: medium) {
      border-color: color(brand);

      .c-message__icon {
        background-color: color(brand);
      }
    }
  }

  .c-message--error {
    background-color: #efefef;
    color: color(error);
    border: 1px solid color(error);

    a {
      color: color(error);
    }

    .c-message__icon {
      background-color: color(error);
    }
  }

  .c-message--alert {
    padding: $global-spacing-unit-small;
    margin-left: 0;
    background-color: color(white);
    border: 1px solid color(brand);
    color: color(brand);
    text-align: center;
    font-weight: bold;
    box-shadow: 0 0 5px 0 #999;
  }
}
