@if ($uxEfs==azb) {
  /* ==========================================================================
   COMPONENTS / #BUTTONS
   ========================================================================== */

  // Settings
  $arial: 'Arial', 'Helvetica Neue', 'Helvetica', 'Roboto', sans-serif;
  $base-font-family: 'Allianz Regular', $arial;
  $notification-error: color(error);
  $notification-success: color(success);
  $notification-general: color(info);
  $grey-50: color(grey-50);

  $brand: color(brand);
  $brand-hover: color(brand-hover);
  $brand-pressed: color(brand-pressed);
  $brand-accessi: color(brand-accessi);
  $brand-text: color(text);

  /* Base
  ============================================ */

  .c-message {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid $notification-general;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 5px $grey-50;
    fill: $notification-general;
    display: flex;
    align-items: center;
    font-family: $base-font-family;
    font-size: 1.6rem;
  }

  .c-message p {
    margin: 10px 0;
  }

  .c-message svg {
    max-height: 20px;
    min-width: 20px;
    margin-right: 10px;
  }
  .c-message-info--error {
    border-color: $notification-error;
    svg {
      fill: $notification-error;
    }
  }

  .c-message-info--success {
    svg {
      fill: $notification-success;
    }

    border-color: $notification-success;
  }

  .c-message-info--info {
    svg {
      fill: $notification-general;
    }

    border-color: $notification-general;
  }

  // .c-message__content > p {
  //   margin-bottom: 5px;
  // }

  // .c-message p:last-of-type {
  //   margin-bottom: 0;
  // }

  // .c-message__icon {
  //   position: absolute;
  //   top: 50%;
  //   left: -12.5px;
  //   transform: translateY(-50%);
  //   width: 25px;
  //   padding: 5px;
  //   border-radius: 50%;
  //   background-color: color(grey-50);
  //   fill: color(white);
  //   color: color(white); // FF 42
  // }

  // .c-message__link {
  //   text-decoration: underline;
  // }

  /* Modifiers
  ============================================ */

  // .c-message--info {
  //   background-color: #efefef;
  // }

  // .c-message--warning {
  //   border: 2px solid color(brand-mobile);

  //   .c-message__icon {
  //     background-color: color(brand-mobile);
  //   }

  //   @include mq($from: medium) {
  //     border-color: color(brand);

  //     .c-message__icon {
  //       background-color: color(brand);
  //     }
  //   }
  // }

  // .c-message--error {
  //   background-color: #efefef;
  //   color: color(error);
  //   border: 1px solid color(error);

  //   a {
  //     color: color(error);
  //   }

  //   .c-message__icon {
  //     background-color: color(error);
  //   }
  // }

  // .c-message--alert {
  //   padding: $global-spacing-unit-small;
  //   margin-left: 0;
  //   background-color: color(white);
  //   border: 1px solid color(brand);
  //   color: color(brand);
  //   text-align: center;
  //   font-weight: bold;
  //   box-shadow: 0 0 5px 0 #999;
  // }
}
