/* ==========================================================================
   LAYER / #steps.styles.scss
   ========================================================================== */

// Settings
$separator: color(grey-30);

/* Heading
  =========================================== */

/* Sub-heading
  ---------------------------------- */

/**
 * Long-form comment.
 *
 * 1. Provide line-comments like this.
 */

.c-steps {
  display: flex;
  justify-content: space-around;
  position: relative;
  > * {
    z-index: 1;
  }
}

.c-steps::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 67%;
  background-color: $separator;
  top: calc(50% - 10px);
}
