.c-espace {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--t-header-height);
  width: 217px;
  text-decoration: none;
  font-size: var(--text-font-size-sm);
  text-transform: uppercase;
  color: var(--color-primary);
  transition: background-color 0.25s;
}

.c-espace:hover {
  background-color: #efefef;
}

ux-svg {
  margin-left: 5px;
  color: var(--color-text);
}
