:host {
  --background-color: var(--header-background-color, #eceaea);
  --border: 1px solid #f7f7f7;
  --height: var(--layout-header-height);

  grid-area: Header;
  background-color: var(--background-color);
  border-bottom: var(--border);
  height: var(--height);
}

.c-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
