@if (
  $uxEfs==cmb or
    $uxEfs==cmso or
    $uxEfs==cmmc or
    $uxEfs==cmbpro or
    $uxEfs==cmsopro or
    $uxEfs==cmmcpro
) {
  // NB: this file is not imported for novation

  /*
 * @filename    : common/fonts
 * @description : Contient les définitions des polices utilisées dans le site ( polices spécifiques +polices d'icônes )
 * @agence      : Artwaï
 * @date        : JANVIER 2016
 * @author      : Eric TRANCHART
 * -------------------------------------------- */

  /* --------------------------------------------
 * =POLICE D'ICONES | icomoon
 * -------------------------------------------- */

  // À REMPLACER À CHAQUE FOIS :
  // Ligne 28: [class^="icon-"]:not(.icon-title), [class*=" icon-"]:not(.icon-title) {
  // Chemin vers le dossier fonts (L19,20,21,22,23): url('../fonts/etc.truc?bidule')
  // NB: this file is not imported for novation
  @font-face {
    font-family: 'cmb';
    src: url('./fonts/cmb.woff2?za8yvz') format('woff2'),
      url('./fonts/cmb.woff?za8yvz') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  [class^='icon-'],
  [class*=' icon-'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cmb', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-cadenas-2::before {
    content: '\eab2';
  }
  .icon-star-disc-1::before {
    content: '\eab3';
  }
  .icon-plafond-carte::before {
    content: '\eaaf';
  }
  .icon-virement-beneficiaire::before {
    content: '\eab0';
  }
  .icon-bio-authent::before {
    content: '\eab1';
  }
  .icon-chevron-disc-1::before {
    content: '\eaab';
  }
  .icon-handicap-fauteuil-1::before {
    content: '\eaaa';
  }
  .icon-malentendant-1::before {
    content: '\eaa9';
  }
  .icon-bouclier-check-ok-1::before {
    content: '\eaa6';
  }
  .icon-btn-supprimer-champ-1::before {
    content: '\eaa7';
  }
  .icon-smartphone-enregistrer-1::before {
    content: '\eaa8';
  }
  .icon-empreinte-digitale-1::before {
    content: '\eaa1';
  }
  .icon-arobase-1::before {
    content: '\eaa2';
  }
  .icon-panier-2::before {
    content: '\eaa3';
  }
  .icon-virements-2::before {
    content: '\eaa4';
  }
  .icon-wifi-1::before {
    content: '\eaa5';
  }
  .icon-securite-1::before {
    content: '\ea9f';
  }
  .icon-burger-1::before {
    content: '\ea9e';
  }
  .icon-new-1::before {
    content: '\ea9b';
  }
  .icon-new-2::before {
    content: '\ea9c';
  }
  .icon-cabas-1::before {
    content: '\ea97';
  }
  .icon-clic-main-1::before {
    content: '\ea98';
  }
  .icon-histogramme-2::before {
    content: '\ea99';
  }
  .icon-play-1::before {
    content: '\ea96';
  }
  .icon-cloche-1::before {
    content: '\ea93';
  }
  .icon-histogramme-1::before {
    content: '\ea91';
  }
  .icon-courbes-1::before {
    content: '\ea92';
  }
  .icon-roller-1::before {
    content: '\ea90';
  }
  .icon-portefeuille-2::before {
    content: '\ea8b';
  }
  .icon-tirelire-1::before {
    content: '\ea8c';
  }
  .icon-home-4::before {
    content: '\ea8d';
  }
  .icon-caddie-1::before {
    content: '\ea8e';
  }
  .icon-interrogation-1::before {
    content: '\ea8f';
  }
  .icon-arrow_drop_down::before {
    content: '\ea86';
  }
  .icon-arrow_drop_up::before {
    content: '\ea87';
  }
  .icon-oeil-1::before {
    content: '\ea88';
  }
  .icon-oeil-2::before {
    content: '\ea94';
  }
  .icon-oeil-2-slash::before {
    content: '\ea95';
  }
  .icon-pendule-1::before {
    content: '\ea83';
  }
  .icon-modulo-1::before {
    content: '\ea84';
  }
  .icon-calendar-2::before {
    content: '\ea85';
  }
  .icon-dossier-1::before {
    content: '\ea82';
  }
  .icon-courrier-1::before {
    content: '\ea77';
  }
  .icon-download-1::before {
    content: '\ea78';
  }
  .icon-upload-1::before {
    content: '\ea79';
  }
  .icon-checklist-2::before {
    content: '\ea7a';
  }
  .icon-coeur-1::before {
    content: '\ea7b';
  }
  .icon-feuille-2::before {
    content: '\ea7c';
  }
  .icon-feuilles-1::before {
    content: '\ea7d';
  }
  .icon-bulles-1::before {
    content: '\ea7e';
  }
  .icon-jumelles-1::before {
    content: '\ea7f';
  }
  .icon-crayon-1::before {
    content: '\ea80';
  }
  .icon-cadenas-ouvert-4::before {
    content: '\ea81';
  }
  .icon-liste-valide-1::before {
    content: '\ea76';
  }
  .icon-infobulle-2::before {
    content: '\ea75';
  }
  .icon-voiture-1::before {
    content: '\ea72';
  }
  .icon-telephone-1::before {
    content: '\ea73';
  }
  .icon-bouclier-utilisateur-1::before {
    content: '\ea74';
  }
  .icon-liste-1::before {
    content: '\ea6f';
  }
  .icon-parapluie-1::before {
    content: '\ea70';
  }
  .icon-pendule-2::before {
    content: '\ea71';
  }
  .icon-copy-1::before {
    content: '\ea6e';
  }
  .icon-rechargement-1::before {
    content: '\ea6b';
  }
  .icon-service-reporting-1::before {
    content: '\ea6c';
  }
  .icon-marque-page-1::before {
    content: '\ea6d';
  }
  .icon-poignee-main-1::before {
    content: '\ea6a';
  }
  .icon-chevron-2::before {
    content: '\ea69';
  }
  .icon-cadenas-3::before {
    content: '\ea67';
  }
  .icon-cadenas-ouvert-3::before {
    content: '\ea68';
  }
  .icon-webcam-1::before {
    content: '\ea66';
  }
  .icon-points-1::before {
    content: '\ea65';
  }
  .icon-chequier-1::before {
    content: '\ea64';
  }
  .icon-engrenage-1::before {
    content: '\ea61';
  }
  .icon-zzz-veille::before {
    content: '\ea59';
  }
  .icon-shop-1::before {
    content: '\ea57';
  }
  .icon-portefeuille-1::before {
    content: '\ea55';
  }
  .icon-feuille-1::before {
    content: '\ea5b';
  }
  .icon-pdf-1::before {
    content: '\ea53';
  }
  .icon-diplome-1::before {
    content: '\ea54';
  }
  .icon-danger-2::before {
    content: '\ea47';
  }
  .icon-danger-1::before {
    content: '\ea48';
  }
  .icon-chargement-1::before {
    content: '\ea49';
  }
  .icon-appareil-photo-1::before {
    content: '\ea4a';
  }
  .icon-trash-1::before {
    content: '\ea4b';
  }
  .icon-carte-id-1::before {
    content: '\ea4c';
  }
  .icon-home-3::before {
    content: '\ea4d';
  }
  .icon-question-1::before {
    content: '\ea4e';
  }
  .icon-croix-fermer-2::before {
    content: '\ea4f';
  }
  .icon-croix-fermer-1::before {
    content: '\ea50';
  }
  .icon-panier-1::before {
    content: '\ea46';
  }
  .icon-bulle-1::before {
    content: '\ea43';
  }
  .icon-bulle-interrogation-1::before {
    content: '\ea44';
  }
  .icon-combine-telephone-1::before {
    content: '\ea45';
  }
  .icon-check-ok-3::before {
    content: '\ea89';
  }
  .icon-check-vide-3::before {
    content: '\ea8a';
  }
  .icon-check-ok-2::before {
    content: '\ea5f';
  }
  .icon-check-vide-2::before {
    content: '\ea60';
  }
  .icon-check-ok-1 .path1::before {
    content: '\ea32';
    color: rgb(255, 255, 255);
  }
  .icon-check-ok-1 .path2::before {
    content: '\ea33';
    margin-left: -1.169921875em;
    color: rgb(97, 97, 97);
  }
  .icon-check-vide-1 .path1::before {
    content: '\ea34';
    color: rgb(97, 97, 97);
  }
  .icon-check-vide-1 .path2::before {
    content: '\ea35';
    margin-left: -1.001953125em;
    color: rgb(255, 255, 255);
  }
  .icon-chrono-3::before {
    content: '\ea58';
  }
  .icon-chrono-1::before {
    content: '\ea36';
  }
  .icon-chrono-2::before {
    content: '\ea51';
  }
  .icon-coche-1::before {
    content: '\ea37';
  }
  .icon-double-fleche-1::before {
    content: '\ea38';
  }
  .icon-etiquette-1::before {
    content: '\ea39';
  }
  .icon-euro-1::before {
    content: '\ea3a';
  }
  .icon-home-2::before {
    content: '\ea3b';
  }
  .icon-info-1::before {
    content: '\ea3c';
  }
  .icon-i-info::before {
    content: '\ea52';
  }
  .icon-declaration-en-ligne::before {
    content: '\eaac';
  }
  .icon-laptop-1::before {
    content: '\ea3d';
  }
  .icon-plus-2::before {
    content: '\ea3e';
  }
  .icon-pouce-1::before {
    content: '\ea3f';
  }
  .icon-star-1::before {
    content: '\ea40';
  }
  .icon-triangle-1::before {
    content: '\ea41';
  }
  .icon-umbrella-1::before {
    content: '\ea42';
  }
  .icon-cloud-documents-1::before {
    content: '\ea9a';
  }
  .icon-cloud-arrow-down::before {
    content: '\ea2e';
  }
  .icon-cloud-arrow-up::before {
    content: '\ea2f';
  }
  .icon-user-plus::before {
    content: '\eaa0';
  }
  .icon-user-4::before {
    content: '\ea9d';
  }
  .icon-user-3::before {
    content: '\ea5a';
  }
  .icon-group::before {
    content: '\ea30';
  }
  .icon-user-2::before {
    content: '\ea56';
  }
  .icon-user::before {
    content: '\ea31';
  }
  .icon-m-mobilite::before {
    content: '\ea2c';
  }
  .icon-beta-rouge .path1::before {
    content: '\ea27';
    color: rgb(182, 39, 56);
  }
  .icon-beta-rouge .path2::before {
    content: '\ea28';
    margin-left: -0.400390625em;
    color: rgb(255, 255, 255);
  }
  .icon-beta-rouge .path3::before {
    content: '\ea29';
    margin-left: -0.400390625em;
    color: rgb(255, 255, 255);
  }
  .icon-beta-rouge .path4::before {
    content: '\ea2a';
    margin-left: -0.400390625em;
    color: rgb(255, 255, 255);
  }
  .icon-beta-rouge .path5::before {
    content: '\ea2b';
    margin-left: -0.400390625em;
    color: rgb(255, 255, 255);
  }
  .icon-crayon-cercle::before {
    content: '\ea26';
  }
  .icon-corbeille-cercle::before {
    content: '\ea25';
    color: #544431;
  }
  .icon-smartphone-2::before {
    content: '\ea62';
  }
  .icon-smartphone-1::before {
    content: '\ea5e';
  }
  .icon-smartphone-cadenas .path1::before {
    content: '\ea1a';
    color: rgb(84, 68, 49);
  }
  .icon-smartphone-cadenas .path2::before {
    content: '\ea1b';
    margin-left: -0.6044921875em;
    color: rgb(255, 255, 255);
  }
  .icon-smartphone-cadenas .path3::before {
    content: '\ea1c';
    margin-left: -0.6044921875em;
    color: rgb(84, 68, 49);
  }
  .icon-smartphone-cadenas .path4::before {
    content: '\ea1d';
    margin-left: -0.6044921875em;
    color: rgb(84, 68, 49);
  }
  .icon-smartphone-cadenas .path5::before {
    content: '\ea1e';
    margin-left: -0.6044921875em;
    color: rgb(255, 255, 255);
  }
  .icon-smartphone-cadenas .path6::before {
    content: '\ea1f';
    margin-left: -0.6044921875em;
    color: rgb(255, 255, 255);
  }
  .icon-smartphone-cadenas .path7::before {
    content: '\ea20';
    margin-left: -0.6044921875em;
    color: rgb(255, 255, 255);
  }
  .icon-fleche-gauche-1::before {
    content: '\ea19';
  }
  .icon-corbeille::before {
    content: '\ea18';
  }
  .icon-calendrier3::before {
    content: '\ea17';
  }
  .icon-uploader::before {
    content: '\ea16';
  }
  .icon-ecran-01::before {
    content: '\ea14';
  }
  .icon-gratuit-01::before {
    content: '\ea15';
  }
  .icon-chrono-01::before {
    content: '\ea11';
  }
  .icon-simple-01::before {
    content: '\ea12';
  }
  .icon-client-01::before {
    content: '\ea13';
  }
  .icon-maison-voiture::before {
    content: '\ea10';
  }
  .icon-question-01::before {
    content: '\ea0c';
  }
  .icon-pret-reglemente-01::before {
    content: '\ea0d';
  }
  .icon-videos-01::before {
    content: '\ea0e';
  }
  .icon-glossaire-01::before {
    content: '\ea0f';
  }
  .icon-chargement-2 .path1::before {
    content: '\ea5c';
    color: rgb(255, 255, 255);
  }
  .icon-chargement-2 .path2::before {
    content: '\ea5d';
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-reload-2::before {
    content: '\ea0b';
  }
  .icon-icone-danger::before {
    content: '\ea09';
  }
  .icon-cheque-carte::before {
    content: '\ea0a';
  }
  .icon-telecharger::before {
    content: '\ea03';
  }
  .icon-taux::before {
    content: '\ea04';
  }
  .icon-montant::before {
    content: '\ea05';
  }
  .icon-coemprunteur::before {
    content: '\ea06';
  }
  .icon-maison-2::before {
    content: '\ea07';
  }
  .icon-fleche-1::before {
    content: '\e9fa';
  }
  .icon-parcours-souscription-auto-3 .path1::before {
    content: '\ea01';
    color: rgb(227, 226, 222);
  }
  .icon-parcours-souscription-auto-3 .path2::before {
    content: '\ea02';
    margin-left: -1.029296875em;
    color: rgb(40, 105, 165);
  }
  .icon-parcours-souscription-auto-2 .path1::before {
    content: '\e9fb';
    color: rgb(227, 226, 222);
  }
  .icon-parcours-souscription-auto-2 .path2::before {
    content: '\e9fc';
    margin-left: -1.029296875em;
    color: rgb(84, 68, 49);
  }
  .icon-parcours-souscription-auto-1 .path1::before {
    content: '\e9fd';
    color: rgb(40, 105, 165);
  }
  .icon-parcours-souscription-auto-1 .path2::before {
    content: '\e9fe';
    margin-left: -1.029296875em;
    color: rgb(255, 255, 255);
  }
  .icon-parcours-souscription-auto-1 .path3::before {
    content: '\e9ff';
    margin-left: -1.029296875em;
    color: rgb(84, 68, 49);
  }
  .icon-parcours-souscription-auto-1 .path4::before {
    content: '\ea00';
    margin-left: -1.029296875em;
    color: rgb(84, 68, 49);
  }
  .icon-enveloppe-fleche-repondre::before {
    content: '\e9f7';
  }
  .icon-enveloppe-ouverte::before {
    content: '\e9f8';
  }
  .icon-enveloppe-fermee::before {
    content: '\e9f9';
  }
  .icon-enveloppe-fermee-2::before {
    content: '\ea63';
  }
  .icon-enveloppe-2::before {
    content: '\ea08';
  }
  .icon-chevron-double::before {
    content: '\e9f3';
  }
  .icon-chevron-simple::before {
    content: '\e9f4';
  }
  .icon-tri::before {
    content: '\e9f5';
  }
  .icon-trombone::before {
    content: '\e9f6';
  }
  .icon-crayon::before {
    content: '\e9f1';
  }
  .icon-crayon-plein::before {
    content: '\e9f2';
  }
  .icon-coche::before {
    content: '\e9ef';
  }
  .icon-drapeau::before {
    content: '\e9f0';
  }
  .icon-imprimante::before {
    content: '\e9ee';
  }
  .icon-calendrier2::before {
    content: '\e9e1';
  }
  .icon-carte::before {
    content: '\ea2d';
  }
  .icon-carte-debloquer::before {
    content: '\eaad';
  }
  .icon-carte-billets::before {
    content: '\e9e2';
  }
  .icon-carte-opposition::before {
    content: '\eaae';
  }
  .icon-feuilles::before {
    content: '\e9e8';
  }
  .icon-moniteur::before {
    content: '\e9eb';
  }
  .icon-outils::before {
    content: '\e9ec';
  }
  .icon-statistiques::before {
    content: '\e9ed';
  }
  .icon-cadenas::before {
    content: '\e900';
  }
  .icon-auto-assurances::before {
    content: '\e9e9';
  }
  .icon-personnage-assurances::before {
    content: '\e9ea';
  }
  .icon-block-assurances::before {
    content: '\e901';
  }
  .icon-adresse2::before {
    content: '\ea21';
  }
  .icon-aide::before {
    content: '\e902';
  }
  .icon-arrow-big::before {
    content: '\e903';
  }
  .icon-arrow-bottom::before {
    content: '\e904';
  }
  .icon-arrow-bottom-2::before {
    content: '\e905';
  }
  .icon-arrow-down::before {
    content: '\e906';
  }
  .icon-arrow-left::before {
    content: '\e907';
  }
  .icon-arrow-right::before {
    content: '\e908';
  }
  .icon-arrow-right-2::before {
    content: '\e909';
  }
  .icon-arrow-top::before {
    content: '\e90a';
  }
  .icon-arrow-up::before {
    content: '\e90b';
  }
  .icon-autres-comptes-procuration .path1::before {
    content: '\e90c';
    color: rgb(29, 29, 27);
  }
  .icon-autres-comptes-procuration .path2::before {
    content: '\e90d';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-autres-comptes-procuration .path3::before {
    content: '\e90e';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-autres-comptes-procuration .path4::before {
    content: '\e90f';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-autres-comptes-procuration .path5::before {
    content: '\e910';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-autres-comptes-procuration .path6::before {
    content: '\e911';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-autres-comptes-procuration .path7::before {
    content: '\e912';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-autres-comptes-procuration .path8::before {
    content: '\e913';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-autres-comptes-procuration .path9::before {
    content: '\e914';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-autres-comptes-procuration .path10::before {
    content: '\e915';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-head-autrescomptes .path1::before {
    content: '\e916';
    color: rgb(29, 29, 27);
  }
  .icon-head-autrescomptes .path2::before {
    content: '\e917';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-head-autrescomptes .path3::before {
    content: '\e918';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-head-autrescomptes .path4::before {
    content: '\e919';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-head-autrescomptes .path5::before {
    content: '\e91a';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-head-autrescomptes .path6::before {
    content: '\e91b';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-head-autrescomptes .path7::before {
    content: '\e91c';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-head-autrescomptes .path8::before {
    content: '\e91d';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-head-autrescomptes .path9::before {
    content: '\e91e';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-head-autrescomptes .path10::before {
    content: '\e91f';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-bourse::before {
    content: '\e920';
  }
  .icon-bourse-big::before {
    content: '\e921';
  }
  .icon-head-panorama::before {
    content: '\e922';
  }
  .icon-breadcrumb::before {
    content: '\e923';
  }
  .icon-bulle::before {
    content: '\e924';
  }
  .icon-calculatrice .path1::before {
    content: '\e925';
    color: rgb(29, 29, 27);
  }
  .icon-calculatrice .path2::before {
    content: '\e926';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-calculatrice .path3::before {
    content: '\e927';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-calculatrice .path4::before {
    content: '\e928';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-calculatrice .path5::before {
    content: '\e929';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-calculatrice .path6::before {
    content: '\e92a';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-calculatrice .path7::before {
    content: '\e92b';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-calculatrice .path8::before {
    content: '\e92c';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-calculatrice .path9::before {
    content: '\e92d';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-calculatrice .path10::before {
    content: '\e92e';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-calculatrice .path11::before {
    content: '\e92f';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-calculatrice .path12::before {
    content: '\e930';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-calculatrice .path13::before {
    content: '\e931';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-calculatrice .path14::before {
    content: '\e932';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-calculatrice .path15::before {
    content: '\e933';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-calculatrice .path16::before {
    content: '\e934';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-calculatrice .path17::before {
    content: '\e935';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-calculatrice .path18::before {
    content: '\e936';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-calculatrice .path19::before {
    content: '\e937';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-calculatrice .path20::before {
    content: '\e938';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-calculatrice .path21::before {
    content: '\e939';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-calendrier::before {
    content: '\e93a';
  }
  .icon-carnet::before {
    content: '\e93b';
  }
  .icon-cartes::before {
    content: '\e93c';
  }
  .icon-categoriser::before {
    content: '\e93d';
  }
  .icon-check::before {
    content: '\e93e';
  }
  .icon-check-bourse::before {
    content: '\e93f';
  }
  .icon-comptejoint .path1::before {
    content: '\e940';
    color: rgb(29, 29, 27);
  }
  .icon-comptejoint .path2::before {
    content: '\e941';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-comptejoint .path3::before {
    content: '\e942';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-comptejoint .path4::before {
    content: '\e943';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-comptejoint .path5::before {
    content: '\e944';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-comptejoint .path6::before {
    content: '\e945';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-comptejoint .path7::before {
    content: '\e946';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-comptejoint .path8::before {
    content: '\e947';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-comptejoint .path9::before {
    content: '\e948';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-comptes::before {
    content: '\e949';
  }
  .icon-connexion::before {
    content: '\e9e3';
  }
  .icon-logout::before {
    content: '\e94a';
  }
  .icon-conseiller::before {
    content: '\e94b';
  }
  .icon-conseiller-2::before {
    content: '\e94c';
  }
  .icon-contact::before {
    content: '\e94d';
  }
  .icon-corner-check::before {
    content: '\e94e';
  }
  .icon-cross-bourse::before {
    content: '\e94f';
  }
  .icon-cross-error::before {
    content: '\e950';
  }
  .icon-cross-error-2::before {
    content: '\e951';
  }
  .icon-devices::before {
    content: '\e952';
  }
  .icon-devis::before {
    content: '\e953';
  }
  .icon-etaler::before {
    content: '\e954';
  }
  .icon-etalis .path1::before {
    content: '\e955';
    color: rgb(29, 29, 27);
  }
  .icon-etalis .path2::before {
    content: '\e956';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-etalis .path3::before {
    content: '\e957';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-etalis .path4::before {
    content: '\e958';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-exclamation::before {
    content: '\e959';
  }
  .icon-facebook::before {
    content: '\e95a';
  }
  .icon-facebook-eel .path1::before {
    content: '\e95b';
    color: rgb(29, 29, 27);
  }
  .icon-facebook-eel .path2::before {
    content: '\e95c';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-fil-actu::before {
    content: '\e95d';
  }
  .icon-googleplus::before {
    content: '\e95e';
  }
  .icon-googleplus-eel .path1::before {
    content: '\e95f';
    color: rgb(29, 29, 27);
  }
  .icon-googleplus-eel .path2::before {
    content: '\e960';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-immeuble::before {
    content: '\e9e6';
  }
  .icon-agence::before {
    content: '\e961';
  }
  .icon-info-big::before {
    content: '\e962';
  }
  .icon-push-epargne-mt::before {
    content: '\e963';
  }
  .icon-icon-pending::before {
    content: '\e964';
  }
  .icon-info-small::before {
    content: '\e965';
  }
  .icon-input-radio-checked::before {
    content: '\e966';
  }
  .icon-input-radio-uncheck::before {
    content: '\e967';
  }
  .icon-journal::before {
    content: '\e968';
  }
  .icon-liste::before {
    content: '\e969';
  }
  .icon-loupe::before {
    content: '\e96a';
  }
  .icon-mail .path1::before {
    content: '\e96b';
    color: rgb(255, 255, 255);
  }
  .icon-mail .path2::before {
    content: '\e96c';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-mail .path3::before {
    content: '\e96d';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-mail .path4::before {
    content: '\e96e';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-mail-read .path1::before {
    content: '\e96f';
    color: rgb(29, 29, 27);
  }
  .icon-mail-read .path2::before {
    content: '\e970';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-mail-read .path3::before {
    content: '\e971';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-mail-reply .path1::before {
    content: '\e972';
    color: rgb(255, 255, 255);
  }
  .icon-mail-reply .path2::before {
    content: '\e973';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-mail-reply .path3::before {
    content: '\e974';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-mail-reply .path4::before {
    content: '\e975';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-mail-reply .path5::before {
    content: '\e976';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-maison::before {
    content: '\e977';
  }
  .icon-messagerie .path1::before {
    content: '\e978';
    color: rgb(29, 29, 27);
  }
  .icon-messagerie .path2::before {
    content: '\e979';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-messagerie .path3::before {
    content: '\e97a';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-moins::before {
    content: '\e9e4';
  }
  .icon-group-accounts-open::before {
    content: '\e97b';
  }
  .icon-notes::before {
    content: '\e97c';
  }
  .icon-notif-read::before {
    content: '\e97d';
  }
  .icon-notif-reply::before {
    content: '\e97e';
  }
  .icon-offre::before {
    content: '\e97f';
  }
  .icon-pendule::before {
    content: '\e9e7';
  }
  .icon-horaires::before {
    content: '\e980';
  }
  .icon-plus::before {
    content: '\e9e5';
  }
  .icon-group-accounts-close::before {
    content: '\e981';
  }
  .icon-pointer::before {
    content: '\e982';
  }
  .icon-procuration .path1::before {
    content: '\e983';
    color: rgb(29, 29, 27);
  }
  .icon-procuration .path2::before {
    content: '\e984';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-procuration .path3::before {
    content: '\e985';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-procuration .path4::before {
    content: '\e986';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-procuration .path5::before {
    content: '\e987';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-procuration .path6::before {
    content: '\e988';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-procuration .path7::before {
    content: '\e989';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-procuration .path8::before {
    content: '\e98a';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-procuration .path9::before {
    content: '\e98b';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-procuration .path10::before {
    content: '\e98c';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-procuration .path11::before {
    content: '\e98d';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-procuration .path1::before {
    content: '\e98e';
    color: rgb(29, 29, 27);
  }
  .icon-push-procuration .path2::before {
    content: '\e98f';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-procuration .path3::before {
    content: '\e990';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-procuration .path4::before {
    content: '\e991';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-procuration .path5::before {
    content: '\e992';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-push-procuration .path6::before {
    content: '\e993';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-procuration .path7::before {
    content: '\e994';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-procuration .path8::before {
    content: '\e995';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-procuration .path9::before {
    content: '\e996';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-procuration .path10::before {
    content: '\e997';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-procuration .path11::before {
    content: '\e998';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-releves::before {
    content: '\e999';
  }
  .icon-reload::before {
    content: '\e99a';
  }
  .icon-reset-field::before {
    content: '\e99b';
  }
  .icon-rib::before {
    content: '\e99c';
  }
  .icon-search-init::before {
    content: '\e99d';
  }
  .icon-search::before {
    content: '\e99e';
  }
  .icon-success::before {
    content: '\e99f';
  }
  .icon-switcher::before {
    content: '\e9a0';
  }
  .icon-synthese-epargne .path1::before {
    content: '\e9a1';
    color: rgb(29, 29, 27);
  }
  .icon-synthese-epargne .path2::before {
    content: '\e9a2';
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-synthese-epargne .path3::before {
    content: '\e9a3';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-synthese-epargne .path4::before {
    content: '\e9a4';
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-synthese-epargne .path5::before {
    content: '\e9a5';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-synthese-epargne .path6::before {
    content: '\e9a6';
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-synthese-epargne .path7::before {
    content: '\e9a7';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-synthese-epargne .path8::before {
    content: '\e9a8';
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-synthese-epargne .path9::before {
    content: '\e9a9';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-synthese-epargne .path10::before {
    content: '\e9aa';
    margin-left: -1em;
    color: rgb(0, 0, 0);
  }
  .icon-tirelire .path1::before {
    content: '\e9ab';
    color: rgb(255, 255, 255);
  }
  .icon-tirelire .path2::before {
    content: '\e9ac';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-tirelire .path3::before {
    content: '\e9ad';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-tirelire .path4::before {
    content: '\e9ae';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-tirelire .path5::before {
    content: '\e9af';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-tirelire .path6::before {
    content: '\e9b0';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-tirelire .path7::before {
    content: '\e9b1';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-tirelire .path8::before {
    content: '\e9b2';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-tirelire .path9::before {
    content: '\e9b3';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-tirelire .path10::before {
    content: '\e9b4';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-tirelire .path11::before {
    content: '\e9b5';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-block-total-comptes .path1::before {
    content: '\e9b6';
    color: rgb(255, 255, 255);
  }
  .icon-block-total-comptes .path2::before {
    content: '\e9b7';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-block-total-comptes .path3::before {
    content: '\e9b8';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-block-total-comptes .path4::before {
    content: '\e9b9';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-block-total-comptes .path5::before {
    content: '\e9ba';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-block-total-comptes .path6::before {
    content: '\e9bb';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-block-total-comptes .path7::before {
    content: '\e9bc';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-block-total-comptes .path8::before {
    content: '\e9bd';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-block-total-comptes .path9::before {
    content: '\e9be';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-block-total-comptes .path10::before {
    content: '\e9bf';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-block-total-comptes .path11::before {
    content: '\e9c0';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-epargne .path1::before {
    content: '\e9c1';
    color: rgb(255, 255, 255);
  }
  .icon-push-epargne .path2::before {
    content: '\e9c2';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-push-epargne .path3::before {
    content: '\e9c3';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-epargne .path4::before {
    content: '\e9c4';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-push-epargne .path5::before {
    content: '\e9c5';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-epargne .path6::before {
    content: '\e9c6';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-push-epargne .path7::before {
    content: '\e9c7';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-epargne .path8::before {
    content: '\e9c8';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-push-epargne .path9::before {
    content: '\e9c9';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-push-epargne .path10::before {
    content: '\e9ca';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-push-epargne .path11::before {
    content: '\e9cb';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-block-total-epargne .path1::before {
    content: '\e9cc';
    color: rgb(255, 255, 255);
  }
  .icon-block-total-epargne .path2::before {
    content: '\e9cd';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-block-total-epargne .path3::before {
    content: '\e9ce';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-block-total-epargne .path4::before {
    content: '\e9cf';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-block-total-epargne .path5::before {
    content: '\e9d0';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-block-total-epargne .path6::before {
    content: '\e9d1';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-block-total-epargne .path7::before {
    content: '\e9d2';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-block-total-epargne .path8::before {
    content: '\e9d3';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-block-total-epargne .path9::before {
    content: '\e9d4';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-block-total-epargne .path10::before {
    content: '\e9d5';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-block-total-epargne .path11::before {
    content: '\e9d6';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-trigger::before {
    content: '\e9d7';
  }
  .icon-tuiles::before {
    content: '\e9d8';
  }
  .icon-twitter::before {
    content: '\e9d9';
  }
  .icon-twitter-eel .path1::before {
    content: '\e9da';
    color: rgb(29, 29, 27);
  }
  .icon-twitter-eel .path2::before {
    content: '\e9db';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-virements::before {
    content: '\e9dc';
  }
  .icon-virtualis .path1::before {
    content: '\e9dd';
    color: rgb(29, 29, 27);
  }
  .icon-virtualis .path2::before {
    content: '\e9de';
    margin-left: -1em;
    color: rgb(255, 255, 255);
  }
  .icon-virtualis .path3::before {
    content: '\e9df';
    margin-left: -1em;
    color: rgb(29, 29, 27);
  }
  .icon-virtualis-logo::before {
    content: '\e9e0';
  }
  .icon-warning::before {
    content: '\ea22';
  }
  .icon-page-error2::before {
    content: '\ea23';
  }
  .icon-push-info2::before {
    content: '\ea24';
  }
}
