:host {
  --button-height: 3.5rem;
  --button-min-width: 23rem;
}

.c-btn {
  display: inline-flex; /* [1] */
  justify-content: center;
  align-items: center;
  vertical-align: middle; /* [2] */
  font: inherit; /* [3] */
  text-align: center; /* [4] */
  margin: 0; /* [4] */
  cursor: pointer; /* [5] */
  height: var(--button-height);
  min-width: var(--button-min-width);
  line-height: 1.2;
  padding: 0 var(--spacing-sm);
  border-color: black;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--border-radius-sm);
  background-color: transparent;
  color: var(--color-text);
  font-weight: bold;
  font-size: 1.3rem;
  box-sizing: border-box; /* fix */
}

@media (min-width: 74rem) {
  .c-btn {
    font-size: 1.4rem;
  }
}

/* Modifiers
  ============================================ */

.c-btn--primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: white;
}

.c-btn--secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: white;
}

.c-btn--primary ::slotted(ux-svg) {
  color: white;
}

.c-btn--disabled {
  background-color: var(--color-disabled);
  border-color: var(--color-disabled);
  color: white;
  cursor: not-allowed;
}

.c-btn--small {
  min-width: 0;
  font-size: 1.3rem;
}
