.c-data-listing-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: var(--spacing-xs);
  padding-bottom: var(--spacing-xs);
  border-bottom: 1px solid #dedede;
}

::slotted(bux2-text),
::slotted(bux2-amount),
::slotted(div) {
  line-height: 1.1;
}

::slotted(bux2-text:nth-child(1)) {
  flex: 0 0 80px;
  padding: 0 5px 0 10px;
}
::slotted(bux2-text:nth-child(2)) {
  flex: 0 0 80px;
  padding: 0 5px;
  display: none;
}
::slotted(bux2-text:nth-child(3)) {
  flex: 1 0 0;
  padding: 0 5px;
}
::slotted(bux2-amount) {
  flex: 0 0 100px;
  padding: 0 10px 5px 5px;
}

@media screen and (min-width: 600px) {
  ::slotted(bux2-text:nth-child(2)) {
    display: initial;
  }
}
