/* ==========================================================================
   LAYER / #checkbox-group.styles.scss
   ========================================================================== */

// Settings
$checkbox-group-margin-bottom-mobile: $global-spacing-unit-small;
$checkbox-group-margin-bottom-desktop: $global-spacing-unit;

$checkbox-group-select-margin-bottom-mobile: $global-spacing-unit-tiny;
$checkbox-group-select-margin-bottom-desktop: $global-spacing-unit-small;
$checkbox-group-select-text-decoration: underline;

/* Base
  =========================================== */

bux-checkbox {
  break-inside: avoid;
  display: inline-block;
  width: 100%;
}

.c-checkbox-group {
  margin-bottom: $checkbox-group-margin-bottom-mobile;

  @include mq($from: medium) {
    margin-bottom: $checkbox-group-margin-bottom-desktop;
  }
}

.c-checkbox-group__select {
  display: block;
  margin-bottom: $checkbox-group-select-margin-bottom-mobile;
  text-decoration: $checkbox-group-select-text-decoration;
  cursor: pointer;

  @include mq($from: medium) {
    margin-bottom: $checkbox-group-select-margin-bottom-desktop;
  }
}

.c-checkbox-group-btn-all {
  display: block;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  text-decoration: underline;
  margin-bottom: $global-spacing-unit-small;
}
