<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test checkbox-group</title>
  </head>
  <body>
    <test-fixture id="componentFixture">
      <template>
        <bux-checkbox-group></bux-checkbox-group>
      </template>
    </test-fixture>
    <script>
      suite('<bux-checkbox-group>', () => {
        let component;
        setup(() => {
          component = fixture('componentFixture');
        });

        a11ySuite('componentFixture');

        test('CHANGE THIS. WRITE TEST !!!!!!!!!', () => {
          assert.isTrue(true);
        });
      });
    </script>
  </body>
</html>
