@if ($uxEfs==azb) {
  .c-chat__item {
    position: relative;
    display: inline-block;
    align-self: flex-start;
    padding: 5px 10px;
    margin-bottom: 15px;
    background-color: var(--brand-greybg);
    color: var(--brand);
    border-radius: 5px;
    // box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5),
    //   0 2px 4px 0 rgba(0, 0, 0, 0.28);
    border: 1px solid #dedede;
  }

  .c-chat__item::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 6px 0;
    border-color: transparent var(--brand-greybg) transparent transparent;
    left: -12px;
    bottom: 10px;
    // box-shadow: 0 -20px 20px 0 rgba(0, 0, 0, 0.24);
  }

  .c-chat__item::after {
    content: '';
    position: absolute;
    background-image: url('./profil.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 42px;
    height: 42px;
    left: -60px;
    bottom: 0;
  }

  .c-chat__item p:last-of-type {
    margin-bottom: 0;
  }
}
