.c-input-wrap {
  border: 1px solid #dadce4;
  background-color: #fff;
}

.c-input-wrap:focus-within {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(38, 38, 38, 0.7);
  outline-offset: -2px;
  outline: none;
}

.c-input-wrap.error {
  border-color: var(--color-error);
}

.c-input-error {
  color: var(--color-error);
}

.c-input {
  box-sizing: border-box;
  min-height: 38px;
  font-size: var(--text-font-size-sm);
  line-height: 39px;
  text-transform: uppercase;
  border: none;
  margin: 0 10px;
  width: calc(100% - 20px);
}

.c-input.error {
  color: var(--color-error);
}

.c-input-password {
  width: calc(100% - 50px);
}
