@if ($uxEfs==azb) {
  /* ==========================================================================
   LAYER / #card-body.styles.scss
   ========================================================================== */

  $column-gap: 30px;

  .c-card__body {
    padding: $global-spacing-unit-tiny
      $global-spacing-unit-small
      $global-spacing-unit-tiny
      $global-spacing-unit-small;
  }

  .o-card-grid {
    display: flex;
    flex-flow: column nowrap;
    // justify-content: center;
    grid-template-areas:
      'a a'
      'b c'; /* [1] */

    grid-template-columns: 1fr 1fr;

    @include mq($from: medium) {
      display: grid;
      grid-column-gap: $global-spacing-unit;
      grid-row-gap: $global-spacing-unit-small;
      // justify-content: initial;
      // align-items: center;
    }
  }

  .o-card-grid__item {
    @include mq($from: medium) {
      align-self: center;
    }
  }

  .o-card-grid__item:nth-child(1) {
    grid-area: a;
  }

  .o-card-grid__item:nth-child(2) {
    grid-area: b;
  }

  .o-card-grid__item:nth-child(3) {
    grid-area: c;
  }

  .o-card-columns\@md {
    @include mq($from: medium) {
      columns: 2;
      column-gap: $column-gap;
    }
  }
}
