.c-btn-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

@media (max-width: 74rem) {
  ::slotted(bux2-btn) {
    margin-bottom: var(--spacing-sm);
  }
  ::slotted(bux2-btn:last-of-type) {
    margin-bottom: 0;
  }
}
@media (min-width: 74rem) {
  .c-btn-group {
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .c-btn-group--vertical {
    flex-flow: column nowrap;
  }
}
