/* ==========================================================================
   COMPONENTS / #FOOTER
   ========================================================================== */

// Settings
$footer-height: 30px;
$footer-width: $global-container-width;
$footer-background-color: color(white);
$footer-brand-color: #424242;

/* Base
  ============================================ */

// get the footer out of the grid flow causing unwanted scroll
bux-footer {
  @include mq($from: large) {
    position: absolute;
  }
}

.c-footer {
  display: none;

  @include mq($from: large) {
    @include font(text-smallprint, large);

    position: fixed;
    display: block;
    height: $footer-height;
    width: $footer-width;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $footer-background-color;
    z-index: 20;

    &::before {
      content: '';
      position: absolute;
      left: -50%;
      width: 200%;
      height: $footer-height;
      background-color: $footer-background-color;
      border-top: 1px solid color(grey-10);
      z-index: -1;
    }
  }
}

.c-footer__auth {
  display: block;
  margin-top: 10px;

  @include mq($from: medium) {
    margin-top: 60px;
  }

  @include mq($from: large) {
    margin-top: 0;
  }
}
