.c-header__nav-right {
  margin-left: auto;
  display: flex;
  flex-flow: row nowrap;
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

.c-header--mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-xs);
}

.c-header--desktop {
  display: none;
}

@media (min-width: 1090px) {
  .c-header--mobile {
    display: none;
  }

  .c-header--desktop {
    display: flex;
  }
}
