:host {
  display: block;
  width: var(--t-header-outer-width);
  background-color: var(--t-header-background);
  margin-bottom: var(--t-header-margin);
}

.c-header {
  width: var(--t-header-inner-width);
  justify-content: center;
  align-items: center;
  background-color: var(--t-header-background);
}
