.c-card-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.c-card-bar--center {
  justify-content: center;
}

.c-card-bar--border-top {
  padding-top: var(--spacing-sm);
}

::slotted(bux2-card-tile) {
  flex: 1 1 0;
}
