:host {
  --min-tile-height: 10rem;
  --base-white: #fff;
}

.c-tile {
  min-height: var(--min-tile-height);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
}

.c-tile--shadow {
  box-shadow: var(--box-shadow-primary);
}

.c-tile--primary {
  background-color: var(--color-primary);
}

.c-tile--secondary {
  background-color: var(--color-secondary-dark);
}

.c-tile--tertiary {
  background-color: var(--base-white);
}
