.c-menu-icon {
  width: var(--t-header-height);
  height: var(--t-header-height);
  transition: background-color 0.25s;
}

.c-menu-icon:hover,
.c-menu-icon:focus,
.is-active {
  background-color: #efefef;
}
