@if ($uxEfs == azb) {
  // Settings
  $link-tile-padding: $global-spacing-unit-small
    $global-spacing-unit-large
    $global-spacing-unit-small
    $global-spacing-unit-small;
  $link-tile-margin-bottom: $global-spacing-unit-small;
  $link-tile-border: 1px solid color(grey-20);
  $link-tile-border-radius: $global-border-radius;
  $link-tile-background-color: color(white);

  /* c-link-tile component
=========================================== */

  /* Block
---------------------------------- */

  .c-link-tile {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 45px;
    padding: $link-tile-padding;
    margin-bottom: $link-tile-margin-bottom;
    border: $link-tile-border;
    border-radius: $link-tile-border-radius;
    background-color: $link-tile-background-color;
  }

  /* Element
---------------------------------- */
  .c-link-tile__label {
    font-size: 16px;
    line-height: 1.4;
  }

  .c-link-tile__sublabel {
    font-size: 13px;
    line-height: 1.6;
  }

  .c-link-tile__icon {
    font-size: 25px;
    margin-right: 10px;
  }

  .c-link-tile__badges {
    margin-top: $global-spacing-unit-tiny;
  }
  .c-link-tile__arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  .c-link-tile__link {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  /* Modifier
---------------------------------- */
  .c-link-tile--colored .c-link-tile__label {
    color: color(brand-mobile);
    text-transform: uppercase;
    line-height: 1.4;
    @include mq($from: medium) {
      color: color(brand);
    }
  }

  .c-link-tile--colored .c-link-tile__sublabel {
    color: color(text);
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.6;
  }

  .c-link-tile--bold .c-link-tile__label {
    font-weight: bold;
  }

  .c-link-tile--shadow {
    @include mq($from: large) {
      box-shadow: 0 0 6px -2px #999;
    }
  }
}
