<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <script src="/dist/bundle.js"></script>
    <link rel="stylesheet" href="/dist/style.css" />
    <title>Test link-tile</title>
  </head>
  <body>
    <test-fixture id="componentLabelOnly">
      <template>
        <bux-link-tile data-label="c'est le titre" data-link="/link/path">
        </bux-link-tile>
      </template>
    </test-fixture>

    <script>
      suite('<bux-link-tile> with 1 label', () => {
        let component;
        let myEl;
        setup(() => {
          component = fixture('componentLabelOnly');
          container = component.querySelector('.c-link-tile');
          labelEl = component.querySelector('.c-link-tile__label');
          linkEL = component.querySelector('.c-link-tile__link');
        });

        test('test data-label', () => {
          assert.isTrue(labelEl.textContent === "c'est le titre");
        });
        test('test data-link', () => {
          assert.isTrue(linkEL.getAttribute('href') === '/link/path');
        });
      });
    </script>

    <!--
      <test-fixture id="componentTitleAndSubTitle">
        <template>
          <bux-link-tile
            data-label="c'est le titre"
            data-sublabel="C'est un sous-titre"
            data-link="/link/path"
          >
          </bux-link-tile>
        </template>
      </test-fixture>

      <script>
        suite('<bux-link-tile> with title and subtitle', () => {
          let component;
          let myEl;
          setup(() => {
            component = fixture('componentTitleAndSubTitle');
            container = component.querySelector('.c-link-tile');
            titleEl = component.querySelector('.c-link-tile__title');
            subtitleEl = component.querySelector('.c-link-tile__subtitle');
            linkEL = component.querySelector('.c-link-tile__anchor');
          });

          test('test data-title', () => {
            assert.isTrue(titleEl.textContent === "c'est le titre");
          });

          test('test data-subtitle', () => {
            assert.isTrue(subtitleEl.textContent === "C'est un sous-titre");
          });

          test('test data-link', () => {
            assert.isTrue(linkEL.getAttribute('href') === '/link/path');
          });
        });
      </script>
    -->

    <!--
      <test-fixture id="componentTitleAndSubTitleAndBadges">
        <template>
          <bux-link-tile
            data-label="c'est le titre"
            data-sublabel="C'est un sous-titre"
            data-badges="<bux-badge large>Dernier prélèvement le <strong>23/08/2018</strong></bux-badge>"
            data-link="/link/path"
          >
          </bux-link-tile>
        </template>
      </test-fixture>

      <script>
        suite('<bux-link-tile> with title and subtitle and badges', () => {
          let component;
          let myEl;
          setup(() => {
            component = fixture('componentTitleAndSubTitleAndBadges');
            container = component.querySelector('.c-link-tile');
            titleEl = component.querySelector('.c-link-tile__title');
            subtitleEl = component.querySelector('.c-link-tile__subtitle');
            badgesContainer = component.querySelector('.c-link-tile__badges');
            linkEL = component.querySelector('.c-link-tile__anchor');
          });

          test('test data-title', () => {
            assert.isTrue(titleEl.textContent === "c'est le titre");
          });
          test('test data-subtitle', () => {
            assert.isTrue(subtitleEl.textContent === "C'est un sous-titre");
          });
          test('test data-badges', () => {
            assert.isTrue(
              badgesContainer.innerHTML ===
                '<bux-badge large=""><span class="c-badge c-badge--large">Dernier prélèvement le <strong>23/08/2018</strong></span></bux-badge>'
            );
          });
          test('test data-link', () => {
            assert.isTrue(linkEL.getAttribute('href') === '/link/path');
          });
        });
      </script>
    -->
  </body>
</html>
