/* ==========================================================================
   LAYER / #block.styles.scss
   ========================================================================== */

.c-block {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: $global-spacing-unit-small;
  overflow: auto;

  @include mq($from: medium) {
    margin-bottom: $global-spacing-unit;
    border-radius: $global-border-radius;
    box-shadow: 0 0 6px -2px #999;
  }
}

/* Modifiers
  ============================================ */

.c-block--padding-flat {
  padding-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.c-block--nopadding {
  @include mq($from: medium) {
    padding: 20px 0;
  }
}

.c-block--padding-sm {
  @include mq($from: medium) {
    padding: 20px 20px 0 20px;
  }
}

.c-block--padding-default {
  padding: 10px 10px 0 10px;

  @include mq($from: medium) {
    padding: 20px 20px 0 20px;
  }
}

.c-block--padding-md {
  @include mq($from: medium) {
    padding: 20px 50px;
  }
}

.c-block--padding-large {
  @include mq($from: medium) {
    padding: 20px 125px;
  }
}

.c-block--center {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

@include mq($from: medium) {
  .c-block--wmax480 {
    max-width: 480px;
  }
}

.c-block--nopaddingbottom {
  padding-bottom: 0;
}

.c-block--background {
  background: color(white);
}

.c-block--nobackground {
  background-color: transparent;
}
