<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test bux-progress-bar</title>
</head>
<body>
    <test-fixture id="componentFixture">
        <template>
            <bux-progress-bar data-value-primary="5" data-value-secondary="10"/>
        </template>
    </test-fixture>
    <script>
        suite('<bux-progress-bar>', () => {
            let component;
            setup(() => {
                component = fixture('componentFixture');
            });

            a11ySuite('componentFixture');

            test('c-progress__bar--primary must exists ?', () => {
                const progress = component.querySelector('.c-progress__bar--primary');
                assert.isTrue(progress.nodeName.toLowerCase() === 'div');
            });

            test('c-progress__bar--secondary must exists', () => {
                const progress2 = component.querySelector('.c-progress__bar--secondary');
                assert.isTrue(progress2.nodeName.toLowerCase() === 'div');
            });

        });
    </script>
</body>
</html>
