:host {
  --container-padding: var(--spacing-lg) var(--spacing-md);
  --container-shadow: var(--box-shadow-primary);
  --container-radius: var(--border-radius-md);
  --container-border: 1px solid #dadce4;

  position: relative;
}

.c-container {
  background: white;
  padding: var(--container-padding);
  border: var(--container-border);
  border-radius: var(--container-radius);
  display: block;
}

.c-container--shadow {
  box-shadow: var(--container-shadow);
}

.c-container--nopadding {
  padding: 0;
}

.c-container-padding--sm {
  padding: var(--spacing-sm);
}

.c-container-padding--md {
  padding: var(--spacing-md);
}

.c-container-padding--lg {
  padding: var(--spacing-lg);
}

/* tablet + desktop */
@media (min-width: 740px) {
  .c-container-padding--sm {
    padding: var(--spacing-sm) var(--spacing-md);
  }
}
