/*
 * CSS from mixin is currently loaded before the CSS from the component itself.
 * To ensure the display none is not overridden we must use !important
 */

@media (max-width: 770px) {
  :host(.is-desktop:not(.is-mobile)) {
    display: none !important;
  }

  .is-desktop:not(.is-mobile) {
    display: none !important;
  }

  :host(.is-tablet:not(.is-mobile)) {
    display: none !important;
  }

  .is-tablet:not(.is-mobile) {
    display: none !important;
  }
}

@media (min-width: 771px) and (max-width: 1089px) {
  :host(.is-mobile:not(.is-tablet)) {
    display: none !important;
  }

  .is-mobile:not(.is-tablet) {
    display: none !important;
  }

  :host(.is-desktop:not(.is-tablet)) {
    display: none !important;
  }

  .is-desktop:not(.is-tablet) {
    display: none !important;
  }
}

@media (min-width: 1090px) {
  :host(.is-mobile:not(.is-desktop)) {
    display: none !important;
  }

  .is-mobile:not(.is-desktop) {
    display: none !important;
  }

  :host(.is-tablet:not(.is-desktop)) {
    display: none !important;
  }

  .is-tablet:not(.is-desktop) {
    display: none !important;
  }
}
