:host {
  display: inline-block;
  height: auto;
  --svg-shadow: 3px 3px 3px #000;
}

.c-svg {
  color: var(--color-svg);
  font-size: var(--size-svg);
  fill: currentColor;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
}

.c-svg-size--sm {
  --size-svg: 1.4rem;
}

.c-svg-size--md {
  --size-svg: 1.8rem;
}

.c-svg-size--lg {
  --size-svg: 2.5rem;
}

.c-svg-size--xl {
  --size-svg: 3.2rem;
}

.c-svg-size--xxl {
  --size-svg: 5rem;
}

.c-svg-size--auth {
  --size-svg: 5.5rem;
}

.c-svg--center {
  display: block;
  margin: 0 auto;
}

.c-svg--circle {
  border: 1px solid;
  border-color: inherit;
  border-radius: var(--border-radius-circle);
}

.c-svg--shadow {
  filter: drop-shadow(var(--svg-shadow));
}
