.c-card-info {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.c-card-info__img {
  width: 45px;
  height: 30px;
  margin-right: 10px;
  float: left;
}

.c-card-info__label {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}

.c-card-info__number,
.c-card-info__holder {
  font-size: 10px;
  line-height: 1.1;
}

.c-card-info__path {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
