<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test bux-range</title>
  </head>
  <body>
    <test-fixture id="componentFixture">
      <template>
        <bux-row
          data-date="18/11/17"
          data-label="AMAZON PAYMENT"
          data-sublabel="N° 12345555"
          data-amount="-352.50"
          data-link="/insert/route/here"
          a11y-label="voir le détail"
        >
        </bux-row>
      </template>
    </test-fixture>
    <script>
      suite('<bux-row>', () => {
        let component;
        setup(() => {
          component = fixture('componentFixture');
        });

        a11ySuite('componentFixture');

        test('Date is "18/11/17" ?', () => {
          const date = component.querySelector('.c-row__cell--date');
          assert.isAtLeast(date.textContent.indexOf('18/11/17'), 0);
        });

        test('Label is "AMAZON PAYMENT" ?', () => {
          const label = component.querySelector('.c-row__cell--content')
            .children[0];
          assert.isTrue(label.textContent === 'AMAZON PAYMENT');
        });

        test('sublabel right is "N° 12345555" ?', () => {
          const sublabel = component.querySelector('.c-row__cell--content')
            .children[1];
          assert.isTrue(sublabel.textContent === 'N° 12345555');
        });

        test('amount is "-352.50" ?', () => {
          const index = component
            .querySelector('.c-row__cell--amount')
            .innerHTML.indexOf('-352.50');
          assert.isAtLeast(index, 0);
        });

        test('link exists ?', () => {
          const link = component.querySelector('.c-row__anchor');
          assert.isTrue(link != 'undefined');
        });

        test('link label "voir le détail" ?', () => {
          const link = component.querySelector('.c-row__anchor');
          assert.isTrue(link.getAttribute('aria-label') === 'voir le détail');
        });
      });
    </script>
  </body>
</html>
