<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test bux-badge</title>
  </head>
  <body>
    <test-fixture id="componentFixture">
      <template>
        <bux-badge>Je suis un badge</bux-badge>
      </template>
    </test-fixture>
    <script>
      suite('<bux-badge>', () => {
        let component;
        let label;

        setup(() => {
          component = fixture('componentFixture');
          label = component.querySelector('.c-badge');
        });

        a11ySuite('componentFixture');

        test('Label "Je suis un badge" ?', () => {
          let index = component.textContent.indexOf('Je suis un badge');
          assert.isAtLeast(index, 0);
        });
      });
    </script>
  </body>
</html>
