<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test bux-message</title>
  </head>
  <body>
    <test-fixture id="messageComponentFixture">
      <template>
        <bux-account-info
          account-label="COMPTE CHEQUES 2"
          account-holder="JEAN SPECIMEN"
          account-coholder="JEANNE SPECIMEN"
        >
        </bux-account-info>
      </template>
    </test-fixture>
    <script>
      suite('<bux-account-info>', () => {
        let component;
        let accountLabel;
        let accountHolder;
        let accountCoholder;

        setup(() => {
          component = fixture('messageComponentFixture');
          accountLabel = component.querySelector('.c-account-info__label');
          accountHolder = component.querySelector('.c-account-info__holder');
          accountCoholder = component.querySelector(
            '.c-account-info__coholder'
          );
        });

        a11ySuite('messageComponentFixture');

        test('Label "COMPTE CHEQUES 2" string ?', () => {
          assert.isTrue(accountLabel.textContent === 'COMPTE CHEQUES 2');
        });

        test('Holder "JEAN SPECIMEN" string ?', () => {
          assert.isTrue(accountHolder.textContent === 'JEAN SPECIMEN');
        });

        test('Coholder "JEANNE SPECIMEN" string ?', () => {
          assert.isTrue(accountCoholder.textContent === 'JEANNE SPECIMEN');
        });
      });
    </script>
  </body>
</html>
