.c-label {
  font-size: var(--text-font-size-sm);
}

.c-label--clickable {
  cursor: pointer;
}

.c-label-state--error::after {
  content: '';
  position: relative;
  display: inline-block;
  top: 3px;
  margin-left: 5px;
  width: 14px;
  height: 14px;
  background-image: var(--c-label-bg-error);
  background-size: 14px 14px;
}

.c-label-state--valid::after {
  content: '';
  position: relative;
  display: inline-block;
  top: 3px;
  margin-left: 5px;
  height: 14px;
  width: 14px;
  background-image: var(--c-label-bg-valid);
  background-size: 14px 14px;
}
