.c-progress {
  display: flex;
  height: 20px;
  width: 100%;
  background-color: var(--color-background);
  color: color(grey-50);
  color: white;
  text-align: center;
  font-weight: 600;
  border-radius: 5px;
}

.c-progress__bar {
  display: inline-block;
  height: 20px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-radius: 5px;
}

.c-progress__bar--primary {
  background-color: var(--color-primary);
}

.c-progress__bar--secondary {
  background-color: var(--color-secondary);
}

.c-progress--xs,
.c-progress--xs .c-progress__bar {
  height: 2px;
}
