@if (
  $uxEfs==cmb or
    $uxEfs==cmso or
    $uxEfs==cmmc or
    $uxEfs==cmbpro or
    $uxEfs==cmsopro or
    $uxEfs==cmmcpro
) {
  .c-header__logo-svg {
    height: 40px;
    width: 170px;
    fill: #6e6e6c;
  }

  @media (max-width: 350px) {
    .c-header-li-title-mobile .c-header-wrap-label-h1 {
      max-width: 185px;
      line-height: 1;
    }
  }
}
