<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test bux-footer</title>
  </head>
  <body>
    <test-fixture id="componentFixture">
      <template>
        <bux-header></bux-header>
      </template>
    </test-fixture>
    <script>
      suite('<bux-header>', () => {
        let component;
        let footer;

        setup(() => {
          component = fixture('componentFixture');
          footer = component.querySelector('footer');
        });

        a11ySuite('componentFixture');

        test('CHANGE THIS. WRITE TEST !!!!', () => {
          assert.isTrue(true);
        });
      });
    </script>
  </body>
</html>
