@if ($uxEfs==azb) {
  .c-header__logo-svg {
    height: 30px;
    width: 210px;
    fill: #6e6e6c;
  }
  .c-header-wrap-param {
    display: none !important;
  }
  .c-header-a {
    color: inherit;
  }

  .c-header-message {
    background-color: $espace-color-mobile;
  }
}
