/* ==========================================================================
   COMPONENTS / #HEADER
   ========================================================================== */

// Settings
$header-height-mobile: 40px;
$header-height-desktop: 60px;
$header-background-color: color(white);
$header-font-family: 'Maven Pro', sans-serif;
$header-border-color: color(grey-90);
@if ($uxEfs==azb) {
  $header-border-color: color(grey-20);
}
$espace-color-mobile: color(brand-mobile);
$espace-color: color(brand);
$text-color: color(text);

/* Base
  ============================================ */

.c-header {
  display: flex;
  position: fixed;
  top: 0;
  height: $header-height-mobile;
  width: 100%;
  background-color: $header-background-color;
  z-index: 20;
  font-family: $header-font-family;

  @include mq($from: large) {
    height: $header-height-desktop;
    width: $global-container-width;
  }
}

.c-header-image {
  height: 85px;
  width: 85px;

  @include mq($from: large) {
    height: 42px;
    width: 42px;
    margin-left: 7px;
    margin-right: 7px;
  }
}

// Affichage du header en mode mobile
#c-header-mobile {
  display: flex;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #979797;
  padding: 0 10px;
  transition: none;

  @include mq($from: large) {
    display: none;
  }
}

#c-header-mobile .c-header-wrap-label-h1 {
  color: $espace-color-mobile;
  font-size: 16px;
  margin: 0;
  text-align: center;

  @include mq($from: medium) {
    color: $text-color;
  }
}

#c-header-mobile .c-header-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0;
  color: $text-color;
  cursor: pointer;
}

#c-header-mobile .c-header-back-link {
  margin-left: 5px;
}

#c-header-mobile .c-header-ico {
  font-size: 26px;
}

#c-header-mobile .c-header__logo {
  height: 28px;
}

#c-header-mobile .c-header-ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

#c-header-mobile .c-header-li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#c-header-mobile .c-header-wrap-img {
  display: none;
}

#c-header-mobile.is-open {
  background: #4f4f4f;
  transition: background-color ease-in 0.25s;

  .c-header-btn,
  .c-header-back-link {
    color: white;
  }

  .c-header-wrap-label {
    display: none;
  }

  .c-header-wrap-img {
    display: block;
  }
}

// Attention mauvais non
// Cette section affiche le header en mode desktop
// mais aussi affiche mon profil en mode portable
// car les items de mon profil sont les même que le
// header destop
#c-header-desktop {
  display: flex;
  position: absolute;
  min-height: calc(100vh - 40px);
  background-color: $header-background-color;
  width: 100%;
  margin-top: 40px;
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;
}

#c-header-desktop.is-open {
  transform: translateX(0%);
  transition: transform 0.4s ease-in-out;
}

#c-header-desktop .is-active {
  background-color: #efefef;
}

// Reset pour liste
#c-header-desktop .c-header-ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#c-header-desktop .c-header-li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: background-color 0.4s;
}

#c-header-desktop .c-header-li.is-empty > a {
  cursor: default;
}

#c-header-desktop .c-header-li:not(.is-empty) {
  min-height: 75px;

  @include mq($from: large) {
    min-height: 0;
  }
}

#c-header-desktop .c-header-li:not(.is-empty):hover {
  min-height: 75px;
  background-color: #efefef;

  @include mq($from: large) {
    min-height: 0;
  }
}

#c-header-desktop .c-header-li::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 1px;
  background-color: #979797;
}

#c-header-desktop .c-header-li.c-header-no-border-bottom::after {
  display: none;
}

#c-header-desktop .c-header-a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

#c-header-desktop .c-header-ico {
  position: relative;
  font-size: 40px;
}

#c-header-desktop .c-header-a-div {
  display: flex;
  align-items: center;
  width: 320px;

  .c-header-ico {
    margin-right: 18px;
    margin-left: -5px;
  }
}

#c-header-desktop .c-header-a-div-space-bt.c-header-div-1 {
  justify-content: center;

  @include mq($from: large) {
    display: block;
  }
}

#c-header-desktop .c-header-div-2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @include mq($from: large) {
    display: block;
  }
}

#c-header-desktop .c-header-a-profil {
  flex-flow: column;
  margin-top: 20px;
  margin-bottom: 10px;

  @include mq($from: large) {
    flex-flow: row;
    margin-top: 0;
    margin-bottom: 0;
  }
}

#c-header-desktop .c-header-a-profil__img {
  margin: 0 10px 0 5px;
}

#c-header-desktop .c-header-a-div-space-bt {
  justify-content: space-between;
}

// Ne pas afficher le logo
#c-header-desktop .c-header-wrap-logo {
  display: none;
}

#c-header-desktop .c-header-profile-name {
  font-weight: bold;
  font-size: 15px;
}

#c-header-desktop .c-header-profile-date {
  font-size: 11px;
}

#c-header-desktop .c-header-profile-icon {
  font-size: 25px;
}

#c-header-desktop .c-header-espace-name {
  color: $espace-color-mobile;
  font-size: 15px;
}

#c-header-desktop .c-header-item-conseiller {
  font-size: 16px;
  line-height: 1.3;
  position: relative;
}

#c-header-desktop .c-header-item-title {
  font-size: 16px;
  line-height: 1.3;
}

#c-header-desktop .c-header-item-subtitle {
  font-size: 12px;
}

#c-header-desktop .c-header-espace-ico {
  font-size: 20px;
}

#c-header-desktop .c-header-wrap-message {
  display: inline-block;
  position: relative;
}

#c-header-desktop .c-header-message {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 20px;
  min-width: 20px;
  background-color: #c7096d;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  font-weight: bold;
  bottom: -5px;
  margin-left: 10px;
}

#c-header-desktop .c-header-li.is-empty.c-header-no-border {
  border-right: none;
}

// En mode desktop affiche le logo
// et affichage dans le header
@include mq($from: large) {
  #c-header-desktop {
    display: block;
    position: relative;
    margin-top: 0;
    min-height: 60px;
    transform: none;
  }

  // Affichage de la barre blanche à gauche et
  // à droite
  #c-header-desktop::before {
    content: '';
    position: absolute;
    background-color: $header-background-color;
    width: 200%;
    height: $header-height-desktop;
    left: -50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: -1;
  }

  #c-header-desktop .c-header-ul {
    flex-direction: row;
    align-items: center;
  }

  #c-header-desktop .c-header-li {
    border-bottom: none;
    border-right: solid 1px $header-border-color;
    max-height: 100%;

    &::after {
      display: none;
    }
  }

  #c-header-desktop .c-header-a {
    justify-content: center;
    padding: 0;
  }

  #c-header-desktop .c-header-ico {
    width: 60px;
    min-width: 60px;
    max-width: 60px;
  }

  #c-header-desktop .c-header-a-div {
    width: 100%;

    .c-header-ico {
      margin-right: 0;
      margin-left: 0;
      text-align: center;
    }
  }

  #c-header-desktop .c-header-wrap-logo {
    display: inherit;
    width: 340px;
    min-width: 340px;
    max-width: 340px;
  }

  #c-header-desktop .c-header__logo-container {
    margin-right: $global-spacing-unit;
  }

  #c-header-desktop .c-header__logo {
    height: $global-spacing-unit-large;
  }

  #c-header-desktop .c-header-item-title,
  #c-header-desktop .c-header-item-subtitle {
    display: none;
  }

  #c-header-desktop .c-header-a-div-space-bt {
    justify-content: space-evenly;
  }

  #c-header-desktop .c-header-wrap-profile {
    justify-content: space-around;
    width: 330px;
    min-width: 330px;
    max-width: 330px;
  }

  #c-header-desktop .c-header-wrap-espace {
    justify-content: space-evenly;
    width: 218px;
    min-width: 218px;
    max-width: 218px;
  }

  #c-header-desktop .c-header-espace-name {
    color: $espace-color;
    font-size: 14px;
  }

  #c-header-desktop .c-header-item-con {
    display: none;
  }

  #c-header-desktop .c-header-message {
    background-color: $espace-color;
    bottom: 10px;
    margin-left: -22px;
  }
}

/**
* Logo
*
*/

.c-header__logo-svg-mobile {
  display: none;
}

#c-header-mobile.is-open .c-header__logo-svg-mobile {
  display: block;
  fill: white;
  height: 30px;
  width: 170px;
}

/**
* Import custom styles for each EFS
*
*/

@import 'header.abei.styles';
@import 'header.abp.styles';
@import 'header.abs.styles';
@import 'header.azb.styles';
@import 'header.azb_old.styles';
@import 'header.bpe.styles';
@import 'header.cmx.styles';
