:root {
  --spacing-base: 2rem;
  --spacing-xs: calc(var(--spacing-base) / 4);
  --spacing-sm: calc(var(--spacing-base) / 2);
  --spacing-md: var(--spacing-base);
  --spacing-lg: calc(var(--spacing-base) * 2);
  --spacing-xl: calc(var(--spacing-base) * 3);
}
