body {
  padding-bottom: 6rem;
}

ux-header {
  --t-header-outer-width: 100%;
  --t-header-inner-width-m: 100%;
  --t-header-inner-width-d: 99rem;
  --t-header-height: 6rem;
  --t-header-margin: 0;
  --t-header-padding: 0;
  --t-header-padding-left: 25.5rem;
  --t-header-flex-justify-m: space-between;
  --t-header-flex-justify-d: flex-start;

  --t-header-background: white;
  --t-header-color: inherit;
  --t-header-border: 1px solid #eff;
  --t-header-box-shadow: var(--box-shadow-primary);
}

ux-sidebar {
  --t-sidebar-outer-width: 100%;
  --t-sidebar-inner-width-m: 100vw;
  --t-sidebar-inner-width-d: 100%;
  --t-sidebar-height-m: calc(100vh - (10rem + 3rem));
  --t-sidebar-heigh-d: auto;
  --t-sidebar-margin: 0;
  --t-sidebar-padding: 0;
  --t-sidebar-flex-justify: flex-start;

  --t-sidebar-background-m: white;
  --t-sidebar-background-d: transparent;
  --t-sidebar-color: inherit;
  --t-sidebar-border: none;
  --t-sidebar-box-shadow: none;
}

ux-menu#menu-primary {
  --t-menu-outer-width: 100%;
  --t-menu-inner-width: 100%;
  --t-menu-height: auto;
  --t-menu-margin: 0;
  --t-menu-padding: 0;
  --t-menu-inner-padding: 0;
  --t-menu-flex-justify: flex-start;
  --t-menu-flex-direction: column;
  --t-menu-flex-align-items: unset;

  --t-menu-background: white;
  --t-menu-border: 1px solid #eff;
  --t-menu-border-radius: var(--border-radius-md);
  --t-menu-box-shadow: 0 7px 5px -7px #aaa;
}

#menu-primary ux-menu-item {
  --t-menu-item-outer-width: 100%;
  --t-menu-item-inner-width: 100%;
  --t-menu-item-height: 6rem;
  --t-menu-item-margin: 0;
  --t-menu-item-padding-left: var(--spacing-md);
  --t-menu-item-flex-justify: flex-start;

  --t-menu-item-background: white;
  --t-menu-item-background-hover: white;
  --t-menu-item-background-active: white;
  --t-menu-item-color: inherit;
  --t-menu-item-font-size: var(--text-font-size-md);
  --t-menu-item-border-bottom: 1px solid #ccc;
  --t-menu-item-border-bottom-active: 1px solid #ccc;
  --t-menu-item-border-bottom-hover: 1px solid #ccc;
  --t-menu-item-border-left: 4px solid transparent;
  --t-menu-item-border-left-active: 4px solid var(--color-primary);
  --t-menu-item-border-left-hover: 4px solid var(--color-primary);
  --t-menu-item-box-shadow: none;

  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--text-font-size-sm);
}

#menu-primary ux-menu-item-dropdown {
  --t-menu-item-height: 6rem;
  --t-menu-item-border-bottom: 1px solid #ccc;
  --t-menu-item-border-bottom-active: 1px solid #ccc;
  --t-menu-item-border-bottom-hover: 1px solid #ccc;
  --t-menu-item-color: inherit;
  --t-menu-item-font-size: var(--text-font-size-md);
}

#menu-primary ux-menu-item[submenu] {
  --t-menu-item-height: 4rem;
  --t-menu-item-font-size: var(--text-font-size-sm);

  font-weight: bold;
  text-transform: uppercase;
}

ux-menu#menu-secondary {
  --t-menu-outer-width: 100%;
  --t-menu-inner-width-m: 100%;
  --t-menu-inner-width-d: 99rem;
  --t-menu-height: 6rem;
  --t-menu-margin: 0;
  --t-menu-padding: 0;
  --t-menu-inner-padding: 25rem;
  --t-menu-flex-justify: space-evenly;
  --t-menu-flex-direction: row;
  --t-menu-flex-align-items: center;

  --t-menu-background: #fff;
  --t-menu-border-bottom: 1px solid #dadce4;
  --t-menu-border-radius: 0;
  --t-menu-box-shadow: none;
  --t-menu-item-transition: all 150ms ease-in-out;
}

#menu-secondary ux-menu-item {
  --t-menu-item-outer-width: 100%;
  --t-menu-item-inner-width: 100%;
  --t-menu-item-height: 6rem;
  --t-menu-item-margin: 0;

  --t-menu-item-flex-justify: center;

  --t-menu-item-background: white;
  --t-menu-item-color: inherit;
  --t-menu-item-font-size: var(--text-font-size-md);
  --t-menu-item-border-bottom: 4px solid transparent;
  --t-menu-item-border-bottom-hover: 4px solid var(--color-secondary);
  --t-menu-item-border-bottom-active: 4px solid var(--color-secondary);
  --t-menu-item-box-shadow: none;

  font-weight: bold;
  text-transform: uppercase;
  font-size: var(--text-font-size-sm);
}

ux-footer {
  --t-footer-outer-width: 100%;
  --t-footer-inner-width-m: 100%;
  --t-footer-inner-width-d: 99rem;
  --t-footer-height: 3rem;
  --t-footer-margin: 0;
  --t-footer-padding: 0;
  --t-footer-flex-justify: flex-start;

  --t-footer-border-top: 1px solid #ccc;

  --t-footer-background: white;
  --t-footer-color: inherit;
  --t-footer-border: 1px solid #eff;
  --t-footer-box-shadow: none;
}
