:host {
  --message-border-width: 1px;
  --message-border-color: black;
  --message-border-radius: var(--border-radius-md);
  --message-padding: 1rem 1rem 1rem 2rem;
}

.c-message {
  position: relative;
  background-color: #dadce4;
  padding: var(--message-padding);
  border-width: var(--message-border-width);
  border-color: var(--message-border-color);
  border-style: solid;
  border-radius: var(--message-border-radius);
}

.c-message--warning {
  background-color: #fff;
  --message-border-color: #b62737;
  --color-icon-bg: #b62737;
}

.c-message--error {
  background-color: #fff;
  position: relative;
  --message-border-color: var(--color-error);
  --color-icon-bg: var(--color-error);

  color: var(--color-error);
  padding-left: var(--spacing-md);
}

.c-message--info {
  position: relative;
  background-color: #efefef;
  --message-border-color: transparent;
  --color-icon-bg: var(--color-text);

  padding-left: var(--spacing-md);
}

.c-message__icon {
  position: absolute;
  display: flex;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  margin-right: var(--message-padding);
  background-color: var(--color-icon-bg);
  width: 1.5rem;
  height: 1.5rem;
  padding: var(--spacing-xs);
  border-radius: 50%;
  color: #fff;
}
