<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test bux-select</title>
  </head>
  <body>
    <test-fixture id="selectComponentFixture">
      <template>
        <bux-select
          state="empty"
          data-label="Durée de l'étalement"
          data-label-right="mois"
          data-select-width=""
        >
          <option>1</option><option>2</option></bux-select
        >;
      </template>
    </test-fixture>
    <script>
      suite('<bux-select>', () => {
        let component;
        let wrap;
        let labelEl;
        let unitEl;

        setup(() => {
          component = fixture('selectComponentFixture');
          wrap = component.querySelector('.bux-select-wrap');
          labelEl = component.querySelector('.bux-select-label');
          unitEl = component.querySelector('.bux-select-label-right');
        });

        a11ySuite('componentFixture');

        test(`Label : "Durée de l'étalement" ?`, () => {
          assert.isTrue(labelEl.textContent === "Durée de l'étalement");
        });

        test(`Label Right : "mois" ?`, () => {
          assert.isTrue(unitEl.textContent === 'mois');
        });
      });
    </script>
  </body>
</html>
