.c-btn-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
}

@media (min-width: 74rem) {
  .c-btn-group {
    flex-flow: row nowrap;
    justify-content: center;
  }

  .c-btn-group--vertical {
    flex-flow: column nowrap;
  }
}
