:root {
  --color-primary: #e10613;

  /* --color-primary-light
  --color-primary-lighter
  --color-primary-dark
  --color-primary-darker */

  --color-secondary: #36383d;
  --color-secondary-dark: #202125;

  --color-success: #00c222;
  --color-error: #f00f0f;

  --color-text: #636267;
  --color-disabled: #cecece;

  --color-background-light: #cecece;
  --color-background: #cecece;
  --color-background-dark: #cecece;
}
