@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'), local('Lato-Regular'),
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
}

/* mobile */
:root {
  --font-family: 'Lato', sans-serif;

  --line-height-text: 1.5;

  --text-font-size-xxxs: 1rem;
  --text-font-size-xxs: 1rem;
  --text-font-size-xs: 1.1rem;
  --text-font-size-sm: 1.2rem;
  --text-font-size-md: 1.4rem;
  --text-font-size-lg: 1.8rem;
  --text-font-size-xl: 2.4rem;
  --text-font-size-xxl: 3rem;
  --text-font-size-xxxl: 3.6rem;
}
