:host {
  --radio-button-height: 2rem;

  display: inline-block;
  position: relative;
  cursor: default;
  line-height: var(--radio-button-height);
  padding-left: 3rem;
  box-sizing: border-box;
}

:host(:focus) {
  outline: 1px solid var(--color-brand);
}

/* :host(:focus)::before {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
} */

:host::before {
  content: '';
  display: block;
  width: var(--radio-button-height);
  height: var(--radio-button-height);
  border: 1px solid #e6e6e6;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

:host::after {
  content: '';
  position: absolute;
  left: 0.4rem;
  width: 1.5rem;
  height: 1.5rem;
  top: 50%;
  opacity: 0;
  background-color: var(--color-text);
  transform: translateY(-50%) scale(0);
  border-radius: 50%;
  transition: transform 0.125s ease-in-out, opacity 0.125s ease-in-out;
  box-sizing: border-box;
  cursor: pointer;
}

:host([aria-checked='true'])::after {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
