/*
 * Padding utilities
 */

.u-nopadding {
  padding: 0;
}

.u-nopaddingright {
  padding-right: 0 !important;
}

.u-nopaddingleft {
  padding-left: 0 !important;
}

/*
 * Margin utilities
 */

.u-margintopmedium {
  margin-top: 10px;
}
.u-margintoplarge {
  margin-top: 20px;
}
.u-margintopextralarge {
  margin-top: 40px;
}

.u-marginrightmedium {
  margin-right: 10px;
}

.u-marginbottommedium {
  margin-bottom: 10px !important;

  @include mq($from: medium) {
    margin-bottom: 20px !important;
  }
}
.u-marginbottomextralarge {
  margin-bottom: 40px;
}

.u-nomarginbottom {
  margin-bottom: 0 !important;
}

/*
 * General styles utilities
 */

.u-noborder {
  border: none;
}

.u-noshadow {
  box-shadow: none !important;
}

/*
 * Positionning utilities
 */

.u-space-between {
  display: flex;
  justify-content: space-between;
}

.u-margin-center {
  margin-left: auto;
  margin-right: auto;
}

/*
 * Creates a fake radio input before the label
 * Kind of ugly solution but required for DSP2
 */

.u-radio-label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.u-radio-label::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 50%;
  border-radius: 50%;
  border: 1px solid #606060;
  transform: translateY(-50%);
}

.u-radio-input:checked + .u-radio-label::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #606060;
  border: 1px solid #606060;
  left: 4px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}
