.c-row-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.c-row-icon__circle {
  border-radius: 50%;
  min-height: 50px;
  min-width: 50px;
  border: 3px solid var(--color-success);
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  z-index: 1;
}

.c-row-icon__content {
  height: 45px;
  width: 100%;
  border-radius: var(--border-radius-md);
  margin-left: -15px;
  padding-left: 25px;
  background: var(--color-background-light);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
