.c-notification {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius-circle);
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-primary);
  color: white;
  font-size: var(--text-font-size-xs);
}
