@if ($uxEfs==azb) {
  /* ==========================================================================
   LAYER / #card.styles.scss
   ========================================================================== */

  /* Base
  ============================================ */

  .c-card {
    padding-bottom: 3px;
    background-color: color(white);
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid color(grey-20);
  }
}
