<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test card</title>
  </head>
  <body>
    <test-fixture id="componentFixture">
      <template>
        <bux-card>
          <bux-card-header>My title</bux-card-header>
          <bux-card-body> <p>My body</p> </bux-card-body>
          <bux-card-footer>My footer</bux-card-footer>
        </bux-card>
      </template>
    </test-fixture>
    <script>
      suite('<bux-card>', () => {
        let component;
        setup(() => {
          component = fixture('componentFixture');
        });

        a11ySuite('componentFixture');

        test('Header is "My title"', () => {
          const h = component.querySelector('bux-card-header');
          assert.isAtLeast(h.textContent.indexOf('My title'), 0);
        });

        test('Body is "My body"', () => {
          const b = component.querySelector('bux-card-body');
          assert.isAtLeast(b.textContent.indexOf('My body'), 0);
        });

        test('Footer is "My footer"', () => {
          let f = component.querySelector('bux-card-footer');
          assert.isAtLeast(f.textContent.indexOf('My footer'), 0);
        });
      });
    </script>
  </body>
</html>
