/* ==========================================================================
   LAYER / #list.styles.scss
   ========================================================================== */

.c-list__title {
  font-weight: bold;
  margin-bottom: $global-spacing-unit-tiny;
  text-transform: uppercase;
}

.c-list--nostyle {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Decoration */

.c-list--disc {
  list-style: disc;
  margin-left: 20px;
}

.c-list--square {
  list-style: square;
  margin-left: 20px;
}

.c-list--circle {
  list-style: circle;
  margin-left: 20px;
}

/* Others */

.c-list--tablesimplelist {
  margin: 0;
  padding: 0 10px;
  list-style: none;

  @include mq($from: medium) {
    padding: 0 10px 0 20px;
  }
}
