:host {
  --button-height: 4rem;
  --button-min-width: 28rem;
  --button-primary-border-radius: var(--border-radius-lg);
  --button-secondary-border-radius: var(--border-radius-xs);
  --button-disabled: var(--color-secondary-medium);
}

.c-btn {
  display: inline-flex;

  /* [1] */
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  /* [2] */
  font: inherit;

  /* [3] */
  text-align: center;

  /* [4] */
  margin: 0;

  /* [4] */
  cursor: pointer;

  /* [5] */
  height: var(--button-height);
  line-height: 1.2;
  padding: 0 var(--spacing-md);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-width: 1px;
  border-style: solid;
  font-weight: bold;
  font-size: 1.6rem;
  transition: ease 300ms;
}

/* Modifiers
  ============================================ */

.c-btn--primary {
  min-width: var(--button-min-width);
  color: white;
  border-radius: var(--button-primary-border-radius);
}

.c-btn--secondary {
  color: white;
  border-radius: var(--button-secondary-border-radius);
}

.c-btn--primary:hover,
.c-btn--secondary:hover {
  background-color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}

.c-btn--primary:focus,
.c-btn--secondary:focus {
  background-color: var(--color-primary-darker);
  border-color: var(--color-primary-darker);
  color: white;
}

/* Outlined style */
.c-btn--outlined {
  background-color: white;
}

.c-btn--primary.c-btn--outlined,
.c-btn--secondary.c-btn--outlined {
  color: var(--color-primary);
}

.c-btn--primary.c-btn--outlined:hover,
.c-btn--secondary.c-btn--outlined:hover {
  color: white;
}

.c-btn--primary.c-btn--outlined:focus,
.c-btn--secondary.c-btn--outlined:focus {
  color: white;
}

/* Disabled state */
.c-btn--disabled,
.c-btn--disabled:hover,
.c-btn--disabled:focus {
  background-color: var(--button-disabled);
  border-color: var(--button-disabled);
  color: white;
  cursor: not-allowed;
}

.c-btn-lib-link {
  box-sizing: border-box;
  width: var(--button-min-width);
  text-decoration: none;
}

.c-btn-lib-link.center * {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
