// une librairie embarqué sur les sites pros cause des problèmes d'affichage

bux-btn[data-icon]::before,
bux-svg[data-icon]::before {
  display: none !important;
}

.c-progress-ring__icon,
.c-message__icon,
.c-btn--icon {
  display: none !important;
}

.c-otp-security__link:hover {
  color: black;
}
