:host {
  --grid-padding: var(--spacing-sm);
}

.c-grid {
  border: 1px solid #ccc;
  border-radius: var(--border-radius-md);
  padding: var(--grid-padding);
}

/*

::slotted(*[slot='1']) {
  grid-area: a;
}

::slotted(*[slot='2']) {
  grid-area: b;
}

::slotted(*[slot='3']) {
  grid-area: c;
}

::slotted(*[slot='4']) {
  grid-area: d;
}

@media (max-width: 520px) {




  .c-grid--3 {
    grid-template:
      "a c"
      "b .";
  }

  .c-grid--4 {
    grid-template:
      "a ."
      "b d"
      "c .";
  }

} */
