:host {
  --message-border-width: 1px;
  --message-border-color: var(--color-info);
  --message-border-radius: var(--border-radius-md);
  --message-padding: 2rem;
}

.c-message {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
  padding: var(--message-padding);
  border-width: var(--message-border-width);
  border-style: solid;
  border-radius: var(--message-border-radius);
  border: 1px solid;
  box-shadow: 0 2px 5px #999;
  border-color: var(--message-border-color);
}

.c-message--warning {
  border-color: var(--color-error);
}

.c-message--error {
  --message-border-color: var(--color-error);
}

.c-message--success {
  --message-border-color: var(--color-success);
}

.c-message--info {
  --message-border-color: var(--color-info);
}

::slotted(ux-svg) {
  margin-right: var(--message-padding);
}

svg {
  fill: var(--message-border-color);
}
