/*
 * @todo virer les !important, pour ça revoir l'ordre
 * de chargement des CSS
 * @warning bux2-amount c-amount--negative
 */

.c-theme--part {
  color: var(--color-theme-part) !important;
}
.c-theme--pro {
  color: var(--color-theme-pro) !important;
}
.c-theme--light {
  color: var(--color-theme-light) !important;
}
.c-theme--dark {
  color: var(--color-theme-dark) !important;
}
.c-theme--success {
  color: var(--color-success) !important;
}
.c-theme--error {
  color: var(--color-error) !important;
}
.c-theme--white {
  color: var(--color-white) !important;
}

/**
*/
.c-theme-color--primary {
  color: var(--color-primary);
}

.c-theme-color--secondary {
  color: var(--color-secondary);
}

.c-theme-color--success {
  color: var(--color-success);
}
.c-theme-color--positive {
  color: var(--color-positive);
}

.c-theme-color--error {
  color: var(--color-error);
}
