.c-text {
  margin: 0;
}

.c-text--xs {
  font-size: var(--text-font-size-xs);
}
.c-text--sm {
  font-size: var(--text-font-size-sm);
}
.c-text--md {
  font-size: var(--text-font-size-md);
}

.c-text--lg {
  font-size: var(--text-font-size-lg);
}

.c-text--xl {
  font-size: var(--text-font-size-xl);
}

.c-text--xxl {
  font-size: var(--text-font-size-xxl);
}
