.c-stack {
  display: flex;
  justify-content: flex-start;
}

.c-stack--vertical {
  flex-direction: column;
}

.c-stack--horizontal {
  flex-direction: row;
  align-items: center;
}

.c-stack--vertical ::slotted(*:not(:last-child)) {
  margin-bottom: var(--stack-size);
  display: block;
}

.c-stack--horizontal ::slotted(*:not(:last-child)) {
  margin-right: var(--stack-size);
  display: block;
}

.c-stack--vertical.c-stack--all ::slotted(*) {
  margin-bottom: var(--stack-size);
  display: block;
}

.c-stack--horizontal.c-stack--all ::slotted(*) {
  margin-right: var(--stack-size);
  display: block;
}
