@if (
  $uxEfs==cmb or
    $uxEfs==cmso or
    $uxEfs==cmmc or
    $uxEfs==cmbpro or
    $uxEfs==cmsopro or
    $uxEfs==cmmcpro
) {
  // Settings
  $checked-color: #616161;
  $unchecked-color: #616161;
  $checkbox-height: 25px;
  $background-color: color(white);
  $duration: 0.2s;

  .c-checkbox__input {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }

  .c-checkbox__label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: $global-spacing-unit-tiny;

    @include mq($from: medium) {
      margin-bottom: $global-spacing-unit-small;
    }
  }

  .c-checkbox__input:focus + .c-checkbox__label {
    outline: dotted 1px rgb(97, 97, 97);
  }

  .c-checkbox__label--cardstyle {
    border: 1px solid color(grey-20);
    border-radius: 3px;
    padding: 5px 10px;
    background-color: color(white);
  }

  .c-checkbox__content {
    height: 25px;
  }

  .c-checkbox__label--cardstyle .c-checkbox__label-div {
    color: color(brand-mobile);
    line-height: 1;
    text-transform: uppercase;

    @include mq($from: medium) {
      color: color(brand);
    }
  }

  .c-checkbox__label--cardstyle .c-checkbox__sublabel-div {
    text-transform: uppercase;
    font-size: 10px;

    @include mq($from: medium) {
      font-size: 11px;
    }
  }

  // Modifieurs de marges intérieures (rembourrage/padding)
  .c-self-padding--md {
    margin: 0;
    padding: var(--spacing-md);
  }
  .c-self-padding--sm {
    margin: 0;
    padding: var(--spacing-sm);
  }

  @-moz-keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: $checkbox-height/2;
    }
  }

  @-webkit-keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: $checkbox-height/2;
    }
  }

  @keyframes dothabottomcheck {
    0% {
      height: 0;
    }
    100% {
      height: $checkbox-height/2;
    }
  }

  @keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: $checkbox-height * 1;
    }
  }
  @-webkit-keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: $checkbox-height * 1;
    }
  }
  @-moz-keyframes dothatopcheck {
    0% {
      height: 0;
    }
    50% {
      height: 0;
    }
    100% {
      height: $checkbox-height * 1;
    }
  }

  .c-checkbox__animated {
    margin-right: 10px;
    min-height: $checkbox-height;
    min-width: $checkbox-height;
    background-color: transparent;
    border: $checkbox-height * 0.1 solid $unchecked-color;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    transition: border-color ease $duration/2;
    cursor: pointer;

    &::before,
    &::after {
      box-sizing: border-box;
      position: absolute;
      height: 0;
      width: $checkbox-height * 0.2;
      background-color: $checked-color;
      display: inline-block;
      transform-origin: left top;
      border-radius: 5px;
      content: ' ';
      transition: opacity ease 0.5;
    }

    &::before {
      top: $checkbox-height * 0.72;
      left: $checkbox-height * 0.41;
      transform: rotate(-135deg);
    }

    &::after {
      top: $checkbox-height * 0.37;
      left: $checkbox-height * 0.05;
      transform: rotate(-45deg);
    }
  }

  input[type='checkbox']:checked + label > .c-checkbox__animated,
  .c-checkbox__animated.checked {
    border-color: $checked-color;

    &::after {
      height: $checkbox-height * 0.5;
      animation: dothabottomcheck $duration/2 ease 0s forwards;
    }

    &::before {
      height: $checkbox-height * 1.2;
      animation: dothatopcheck $duration ease 0s forwards;
      box-shadow: 0 0 0 $checkbox-height * 0.05 $background-color;
    }
  }
}
