.na-background {
  background-color: #fff;
}

.na-header {
  font-family: 'Maven pro', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #fff;
}

@media (min-width: 1090px) {
  .na-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
  }

  .na-header::before {
    content: '';
    position: absolute;
    background-color: #fff;
    width: 200%;
    left: -50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: -1;
    height: 60px;
  }
}

.na-header__logo-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.na-header__logo {
  height: 30px;
  width: 128px;
}

@media (min-width: 1090px) {
  .na-header__logo-wrapper {
    margin-left: 85px;
  }

  .na-header__logo {
    height: 40px;
    width: 170px;
  }
}

.na-header__headline {
  color: color(brand-mobile);
  margin-bottom: 0;
  font-size: 16px;
}

@media (min-width: 1090px) {
  .na-header__headline {
    font-size: 20px;
    color: #e63135;

    // BADMEPWEB-5810
    margin-left: auto;
  }
}

@media (max-width: 1090px) {
  .na-hero {
    display: none;
  }
}
.na-hero {
  font-family: 'Maven pro', sans-serif;
  position: relative;
  background-image: url('./authent.jpg');
  padding-top: 20px;
  padding-bottom: 350px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  z-index: 1;
}

.na-hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, #444);
  z-index: -1;
}

.na-hero__headline {
  // font-family: 'Maven pro', sans-serif;
  max-width: 620px;
  margin: 0 auto 20px;
  color: #fff;
  text-align: center;
  font-size: 36px;
  line-height: 1;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.na-hero__subline {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 1;
  color: white;
  // text-shadow: 1px 1px 2px #000;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

.na-hero__subline--colored {
  color: #b62737;
}
.na-hero__icon {
  font-size: 40px;
}

/* AUTHENTIFICATION */

.na-authent-dock {
  margin: 40px auto 0;
  width: 100%;
  min-height: 500px;
}

@media (min-width: 1090px) {
  .na-authent-dock {
    position: relative;
    width: 500px;
    min-height: 490px;
    margin: -340px auto 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    z-index: 10;
  }
}

.na-authent-dock .c-auth {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.na-authent-dock .c-loader {
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
}

.na-legal-links {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 11px;

  @include mq($from: large) {
    display: none;
  }
}

.na-legal-links__list {
  list-style: none;
  margin-bottom: 40px;
  margin-left: 0;
}

.na-legal-links__item {
  margin-bottom: 20px;
}

.c-auth-id__container .c-auth-id::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 100%;
  background-color: #606060;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.legacy .c-auth-id__icon {
  font-size: 26px !important;
}
.legacy .c-auth-id__chevron {
  color: white;
  z-index: 1;
  right: 5px !important;
  cursor: pointer;
}

.legacy .c-auth-id__container + .c-btn.c-btn--secondary {
  background-color: #efefef !important;
  color: #616161;
}

.legacy .c-btn.c-btn--primary:hover,
.legacy .c-btn.c-btn--secondary:hover {
  color: white !important;
}

.legacy .c-auth-id__container + .c-btn.c-btn--secondary:hover {
  color: #616161 !important;
}
.legacy .c-auth-id__icon-wrapper:hover,
.legacy .c-auth-id__icon:hover {
  color: #606060 !important;
}

/***********************************************
 * IE FIX
 */ /////////////////////////////////////////////

// Quand on clique sur se souvenir de moi un
// ascenseur apparait
// BADMEPWEB-5810
.legacy .c-auth__body .c-form__check-label {
  overflow: hidden;
}

// L'id de la personne et son nom sont sur
// la même ligne quand on clique sur connexion
// via mobile
// BADMEPWEB-5882
.legacy .c-auth__body .c-auth-id__label {
  display: flex;
  flex-flow: column;
}
