/* ==========================================================================
   OBJECTS / #CONTAINER
   ========================================================================== */


.o-container {
  width: 100%;

  @include mq($from: large) {
    width: $global-container-width;
    margin: 0 auto;

  }

}
