/* ==========================================================================
   OBJECTS / #LAYOUT
   ========================================================================== */

// Settings

.o-dashboard--mobile {
  padding: 10px 10px 0 10px;
}

.o-profil--2-col {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;

  @include mq($from: medium) {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  > * {
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
    height: 50px;
  }

  .c-btn {
    justify-self: center;

    @include mq($from: medium) {
      max-width: 100%;
      height: 100%;
    }
  }

  .c-link-tile {
    height: 100%;
    margin-bottom: 0;
  }

  bux-btn {
    @include mq($until: medium) {
      margin: auto;
      max-width: 230px;
      margin-top: 10px;
      justify-self: center;
    }
  }

  li  {
    list-style-type: none;
  }
}

ul.o-profil--2-col {
  margin-left: 0;
}
