.c-row-cell {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
}

.c-row-cell--start {
  justify-content: flex-start;
}

.c-row-cell--end {
  justify-content: flex-end;
}

.c-row-cell--center {
  justify-content: center;
}

.c-row-cell--between {
  justify-content: space-between;
}

.c-row-cell--around {
  justify-content: space-around;
}

.c-row-cell--evenly {
  justify-content: space-evenly;
}
