.c-input-wrap {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  background-color: #fff;
}

.c-input-wrap:hover,
.c-input-wrap:focus-within {
  border-color: var(--color-secondary-darker);
}

.c-input-wrap.error {
  border-color: var(--color-error);
}

.c-input-error {
  color: var(--color-error);
}

.c-input-wrap.valid {
  border-color: var(--color-success);
}

.c-input {
  box-sizing: border-box;
  height: 3.5rem;
  border: none;
  margin: 0 10px;
  width: calc(100% - 20px);
  font-weight: bold;
}

.c-input::placeholder {
  font-weight: normal;
}

.c-input.error {
  color: var(--color-error);
}

.c-input-email,
.c-input-amount,
.c-input-tel,
.c-input-password {
  width: calc(100% - 50px);
}

@media (min-width: 74rem) {
  .c-input {
    height: 6rem;
    font-size: 1.6rem;
  }
}
