:host {
  display: block;
}

.c-input-item {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

::slotted(ux-label) {
  padding-top: 6px;
  margin-bottom: 5px;
}

.c-input-item__error-msg {
  position: absolute;
  bottom: -2rem;
}

@media (min-width: 590px) {
  .c-input-item.c-input-item--inline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .c-input-item--inline ::slotted(*) {
    grid-column-start: 2;
  }

  .c-input-item--inline ::slotted(ux-label) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .c-input-item--inline ::slotted(ux-select) {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .c-input-item--inline ::slotted(ux-input-text) {
    grid-column-start: 2;
    grid-column-end: 5;
  }

  .c-input-item--inline .c-input-item__error-msg {
    left: 25%;
    color: var(--color-error);
  }
}
