.c-card {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 3px;
  border: 1px solid var(--brand-greybg-hover);

  /* padding: 20px 20px 34px 20px; */

  /* padding-bottom: 10px; */
}

.c-card--no-border {
  border: none;
}

/* @media (min-width: 740px) {
  .c-card {
    box-shadow: 0 0 5px 0 #999;
    border: none;
  }
} */
