:host,
:host([open='false']) {
  --background-color: var(--sidebar-background-color);

  grid-area: Side;
  background-color: var(--background-color);
  overflow: auto;

  /* Animation to open close */
  transition: transform 0.25s;
  transform: translateX(-100vw);
  width: 100vw;
  z-index: 50;
}

:host([open='true']),
:host([open='open']) {
  transition: transform 0.25s;
  transform: translateX(0);
}

@media only screen and (min-width: 770px) {
  :host,
  :host([open='false']) {
    --width: var(--layout-sidebar-width);

    transform: none;
    width: var(--width);
  }

  :host([open='true']),
  :host([open='open']) {
    transform: none;
    width: var(--width);
  }
}
