#wrap {
  display: flex;
  position: relative;
  align-items: center;
  font-size: 13px;
  width: 100%;
}

#input {
  box-sizing: border-box;
  display: inline-block;
  flex-grow: 1;
  height: 35px;
  padding: 5px;
  line-height: 1.5;
  color: var(--color-text);
  background-color: white;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--border-radius-md);
  box-shadow: none;
  border: solid 1px var(--color-text);
}

:host {
  flex-grow: 1;

  /* debug input 100% width bux-input-w-label */
}

#input:focus {
  border: solid 1px orange;
}

#input.empty {
  border: solid 1px var(--color-text);
}

#input.valid {
  border: solid 1px var(--color-success);
}

#input.error {
  border: solid 1px var(--color-error);
}

#icon-left,
#icon-right {
  position: absolute;
  font-size: 16px;
}

#icon-left {
  left: 10px;
}

#icon-right {
  right: 10px;
}

#input.has-icon-left {
  padding-left: 35px;
}

#input.has-icon-right {
  padding-right: 35px;
}

.c-input-number {
  -moz-appearance: textfield;
}

.c-input-number:not(.c-input-noval) {
  text-align: right;
}

@media (min-width: 46.25em) {
  #wrap {
    font-size: 14px;
  }
}

.c-reset-btn {
  position: absolute;
  right: 1rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: var(--color-background-light);
}
.c-reset-btn:hover,
.c-reset-btn:focus {
  background-color: var(--color-background);
}

.c-input-error {
  color: var(--color-error);
  font-size: var(--text-font-size-sm);
}
