@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.c-dropdown {
  display: inline;
  position: relative;
  cursor: pointer;
}

slot[name='content'] {
  position: absolute;
  display: block;
  visibility: hidden;
  width: max-content;
  max-width: 100vh;
  opacity: 0;
  background-color: #fff;
  border-radius: 3px;
  border: solid 1px var(--color-text);
  padding: 3px;
}

slot[name='content'][open='true'],
slot[name='content'][open='open'] {
  animation: fadeInRight 1s;
  visibility: visible;
  opacity: 1;
  z-index: 1000;
}
