<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test bux-badge</title>
  </head>
  <body>
    <test-fixture id="fileDownloadComponentFixture">
      <template>
        <bux-file-download
          data-label="mes données personnelles"
          data-sublabel="à télécharger"
          data-path="/path/to/file"
          data-filename="FILE_NAME"
          a11y-label="Télécharger vos données personnelles"
        >
        </bux-file-download>
      </template>
    </test-fixture>
    <script>
      suite('<bux-file-download>', () => {
        let component;
        let accountLabel;
        let accountHolder;
        let accountCoholder;

        setup(() => {
          component = fixture('fileDownloadComponentFixture');
        });

        a11ySuite('componentFixture');

        test('CHANGE THIS WRITE TEST !!!!!!', () => {
          assert.isTrue(true);
        });
      });
    </script>
  </body>
</html>
