:host {
  --menu-border-bottom: 1px solid #727272;

  --menu-border-active: 4px solid var(--color-primary);

  --menu-color-hover: #434343;
  --menu-color-active: #434343;

  --menu-color-txt: #ffffffba;
  --menu-color-txt-hover: #fff;
  --menu-color-txt-active: #fff;

  position: relative;
  display: flex;
  align-items: center;
  min-height: 64px;
  color: var(--menu-color-txt);
  padding-left: 4px;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: var(--menu-border-bottom);
}

:host(:hover) {
  color: var(--menu-color-txt-hover);
  background-color: var(--menu-color-hover);
}

:host([active='true']) {
  color: var(--menu-color-txt-active);
  background-color: var(--menu-color-hover);
  border-left: var(--menu-border-active);
  padding-left: 0;
}

.c-menu-item {
  display: flex;
  align-items: center;
}

.c-menu-item-slot {
  display: block;
  margin-left: 50px;
}

.c-menu-item-icon {
  display: block;
  position: absolute;
  margin-left: 20px;
}

.c-menu-item-host-level--1 {
  border-bottom: none;
}

.c-menu-item-level--1 {
  font-size: 1.4rem;
  padding-left: 18px;
}

.c-menu-item-level--1[active='true'] {
  padding-left: 18px;
}
