@if (
  $uxEfs==cmb or
    $uxEfs==cmso or
    $uxEfs==cmmc or
    $uxEfs==cmbpro or
    $uxEfs==cmsopro or
    $uxEfs==cmmcpro
) {
  .bux-btn-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: $global-spacing-unit;
    margin-left: auto;
    padding: 0;
    list-style: none;
  }

  .bux-btn-group-nomarginbottom {
    margin-bottom: 0;
  }

  .bux-btn-group-item {
    width: 100%;
    margin-bottom: $global-spacing-unit-small;
    text-align: center;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .bux-btn-group-horizontal {
    .bux-btn-group-item {
      max-width: 225px;
    }
  }

  @include mq($from: medium) {
    .bux-btn-group-horizontal {
      flex-flow: row nowrap;
      justify-content: center;
      margin-bottom: $global-spacing-unit;

      .bux-btn-group-item {
        margin-bottom: 0;
        margin-right: $global-spacing-unit;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    // .bux-btn-group-vertical {
    //   .bux-btn-group-item {
    //     max-width: 100% !important; // bug fix !
    //   }
    // }
  }
}
