:host {
  display: block;
}

.c-input-item {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

::slotted(ux-label) {
  font-size: 12px;
  font-family: Allianz Bold;
  letter-spacing: .5px;
}

.c-input-item__error-msg {
  position: absolute;
  bottom: -2rem;
}

