.c-disclosure__button {
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--color-text);
  cursor: pointer;
}

.c-disclosure__button--center {
  display: block;
  margin: 0 auto;
}

.c-disclosure__content {
  display: none;
  padding-top: var(--spacing-sm);
}

.c-disclosure__content--visible {
  display: block;
}

.c-disclosure__icon {
  position: absolute;
  right: -20px;
  top: 1px;
  width: 14px;
  height: 14px;
  fill: currentColor;
  transform: rotate(90deg);
  transition: transform 0.25s ease-in-out;
  margin-left: var(--spacing-xs);
}

.c-disclosure__button--expanded .c-disclosure__icon {
  transform: rotate(-90deg);
}

.c-disclosure__svg {
  margin-left: var(--spacing-xs);
}

.c-disclosure__icon-right {
  position: absolute;
  right: var(--spacing-sm);
  top: var(--spacing-xs);
}