:host {
  --checkbox-checked-color: var(--color-text);
  --checbox-border-color: #e6e6e6;
  --checkbox-radius: 2px;

  position: relative;
  display: inline-block;
  background-size: contain;
  background-color: #fff;
  width: 28px;
  height: 28px;
  border: 1px solid var(--checbox-border-color);
  border-radius: var(--checkbox-radius);
  cursor: pointer;
  vertical-align: middle;
  margin-right: var(--spacing-xs);
}

:host([hidden]) {
  display: none;
}

:host::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  background-color: var(--checkbox-checked-color);
  border-radius: var(--checkbox-radius);
  transition: transform 0.125s ease-in-out, opacity 0.125s ease-in-out;
}

:host([checked='true'])::after,
:host([checked='checked'])::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

:host([disabled]),
:host([checked='true'][disabled]),
:host([checked='checked'][disabled]) {
  background: var(--checkbox-checked-color) no-repeat;
  background-size: contain;
  cursor: not-allowed;
}
