.c-checkbox-group {
  display: flex;
  flex-flow: column;
}

@media (min-width: 590px) {
  .c-checkbox-group.c-checkbox-group--inline {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .c-checkbox-group--inline ::slotted(*) {
    grid-column-start: 2;
  }

  .c-checkbox-group--inline ::slotted(ux-label) {
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .c-checkbox-group--inline ::slotted(div) {
    grid-column-start: 2;
    grid-column-end: 5;
  }
}
