.c-datatable {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #999;
}

.c-datatable__caption {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

.c-datatable__thead {
  padding: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #efefef;
}

.c-datatable__tbody {
  padding: 5px 10px;
}

.c-datatable__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
