:host {
  --min-tile-height: 10rem;
  --max-tile-img-height: 15rem;
  --base-white: #fff;
}

.c-tile {
  min-height: var(--min-tile-height);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
}

.c-link-tile .c-tile {
  text-align: left;
  position: relative;
}

.c-tile--img {
  color: var(--base-white);
}

.c-tile--img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--border-radius-md);
  z-index: -1;
  min-height: var(--min-tile-height);
  max-height: var(--max-tile-img-height);
  object-fit: cover;
  width: 100%;
}

.c-link-tile--arrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.c-tile--shadow {
  box-shadow: var(--box-shadow-primary);
}

.c-tile--primary {
  background-color: var(--color-primary);
  color: var(--base-white);
}

.c-tile--secondary {
  background-color: var(--color-theme-light);
  color: var(--base-white);
}

.c-tile--tertiary {
  background-color: var(--color-secondary-lighter);
}

.c-link-tile {
  color: inherit;
  text-decoration: inherit;
  cursor: pointer;
}
