:host {
  --min-tile-height: 10rem;
  --base-white: #fff;
}

.c-tile {
  min-height: var(--min-tile-height);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
}

.c-tile--img {
  color: var(--base-white);
}

.c-tile--img img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--border-radius-md);
  z-index: -1;
  height: 10rem;
  object-fit: cover;
  width: 100%;
}

.c-tile--shadow {
  box-shadow: var(--box-shadow-primary);
}

.c-tile--primary {
  background-color: var(--color-primary);
}

.c-tile--secondary {
  background-color: var(--color-secondary);
}

.c-tile--tertiary {
  background-color: var(--base-white);
}
