<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="/node_modules/web-component-tester/browser.js"></script>
    <title>Test accordeon</title>
  </head>
  <body>
    <test-fixture id="componentFixture">
      <template>
        <bux-accordeon>
          <bux-accordeon-item data-label="Ma Section 1">
            Mon Contenu 1
          </bux-accordeon-item>
          <bux-accordeon-item data-label="Ma Section 2">
            Mon Contenu 2
          </bux-accordeon-item>
        </bux-accordeon>
      </template>
    </test-fixture>
    <script>
      suite('<bux-accordeon>', () => {
        let component;
        let buxAccordeonItem;
        let label;
        let cont;
        let btn;

        setup(() => {
          component = fixture('componentFixture');
          buxAccordeonItem = component.querySelector('bux-accordeon-item');
          label = buxAccordeonItem.querySelector('.bux-heading-label');
          cont = buxAccordeonItem.querySelector('.bux-accordeon-cont');
          btn = buxAccordeonItem.querySelector('.bux-heading-btn');
        });

        a11ySuite('componentFixture');

        test('Have role list ?', () => {
          assert.isTrue(component.getAttribute('role') === 'list');
        });

        test('bux-accordeon-item has role listitem ?', () => {
          assert.isTrue(buxAccordeonItem.getAttribute('role') === 'listitem');
        });

        test('bux-accordeon-item label is "Ma Section 1" ?', () => {
          const index = label.textContent.indexOf('Ma Section 1');
          assert.isAtLeast(index, 0);
        });

        test('bux-accordeon-item label is "Mon Contenu 1" ?', () => {
          const index = cont.textContent.indexOf('Mon Contenu 1');
          assert.isAtLeast(index, 0);
        });

        test('bux-heading-btn has aria-expanded="true" after a click?', () => {
          btn.click();
          assert.isTrue(btn.getAttribute('aria-expanded') === 'true');
        });

        test('bux-heading-btn now has aria-expanded="false" after two click?', () => {
          btn.click();
          btn.click();
          assert.isTrue(btn.getAttribute('aria-expanded') === 'false');
        });
      });
    </script>
  </body>
</html>
