.c-row {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 40px;
  padding: 5px 10px;
  box-sizing: border-box;
}

.c-row--border-top {
  border-top: 1px solid #eaeaea;
}

.c-row--border-bottom {
  border-bottom: 1px solid #eaeaea;
}

.c-row--border-full {
  border: 1px solid #ddd;
}

.c-row--margin-bottom {
  margin-bottom: 10px;
}

.c-row--background {
  border-radius: var(--border-radius-sm);
  background-color: #fff;
}

.c-row--push-right {
  margin-left: auto;
}
