/* :host {
  --footer-height: var(--theme-footer-height);
  --footer-width: var(--theme-footer-width);
  --footer-inner-width: var(--theme-footer-inner-width);
  --footer-background-color: var(--theme-footer-background-color);
  --footer-border: var(--theme-footer-border);

  background-color: var(--footer-background-color);
  height: var(--footer-height);
  width: var(--footer-width);
  box-sizing: border-box;
}

.c-footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: var(--footer-inner-width);
  margin: 0 auto;
  height: var(--footer-height);
}

::slotted(a) {
  margin-right: var(--spacing-sm);
} */

:host {
  width: var(--t-footer-outer-width);
  height: var(--t-footer-height);
  background: var(--t-footer-background);
  border-top: var(--t-footer-border-top, none);
  border-right: var(--t-footer-border-right, none);
  border-bottom: var(--t-footer-border-bottom, none);
  border-left: var(--t-footer-border-left, none);
  box-shadow: var(--t-footer-box-shadow, none);
}

.c-footer {
  position: relative;
  display: flex;
  align-items: center;
  width: var(--t-footer-inner-width-m);
  height: var(--t-footer-height);
}

@media (min-width: 59rem) {
  .c-footer {
    width: var(--t-footer-inner-width-d);
    margin: 0 auto;
  }
}

::slotted(a) {
  font-size: var(--t-footer-link-font-size);
}

::slotted(a:not(:last-of-type)) {
  margin-right: var(--spacing-md);
}

::slotted(*:last-child) {
  margin-left: auto;
}
