@if ($uxEfs==azb) {
  $arial: 'Arial', 'Helvetica Neue', 'Helvetica', 'Roboto', sans-serif;
  $base-font-family: 'Allianz Regular', $arial;

  $brand: color(brand);
  $brand-hover: color(brand-hover);
  $brand-pressed: color(brand-pressed);
  $brand-accessi: color(brand-accessi);

  .c-btn--large {
    font-size: 2rem;
    padding-left: 50px;
    padding-right: 50px;
    min-height: 80px;
    max-height: 100px;
    text-transform: uppercase;
    margin: 0 30px 20px 30px;
  }

  .c-btn--medium {
    font-size: 1.6rem;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 50px;
    max-height: 70px;
    text-transform: uppercase;
    margin: 0 30px 20px 30px;
  }

  .c-btn--small {
    font-size: 1.4rem;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 32px;
    margin: 0 10px 20px 10px;
  }

  a.c-btn--primary,
  a.c-btn--secondary {
    display: inline-flex;
    &:hover {
      color: white;
    }
  }

  .c-btn--outlined {
    color: $brand;
    border: 3px solid $brand;
    border-radius: 5px;
    background: transparent;
  }

  .c-btn--primary {
    color: #fff;
    background-color: $brand;
    font-family: $base-font-family;
    border-radius: 5px;
    transition: background-color 0.2s ease, border-color 0.2s ease,
      color 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;
  }
  .c-btn--primary:hover {
    background-color: $brand-hover;
    cursor: pointer;
  }
  .c-btn--primary:active {
    background-color: $brand-pressed;
  }
  .c-btn--primary.is-disabled {
    opacity: 0.4;
    background-color: $brand;
    cursor: not-allowed;
  }
  .c-btn--primary:focus {
    outline: none;
    background-color: $brand-accessi;
    box-shadow: 0 9px 10px rgba(69, 69, 69, 0.5);
    color: white;
  }
  .c-btn--primary .icon {
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .c-btn--secondary {
    color: $brand;
    background-color: transparent;
    font-family: $base-font-family;
    border-radius: 5px;
    transition: background-color 0.2s ease, border-color 0.2s ease,
      color 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    position: relative;
  }
  .c-btn--secondary:focus {
    outline: none;
    background-color: $brand-accessi;
    box-shadow: 0 9px 10px rgba(69, 69, 69, 0.5);
    color: white;
  }
  .c-btn--secondary .icon {
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .c-btn--secondary:hover {
    background-color: $brand-hover;
    color: #fff;
    cursor: pointer;
  }
  .c-btn--secondary:active {
    background-color: $brand-pressed;
    color: #fff;
  }
  .c-btn--secondary.is-disabled {
    opacity: 0.4;
    background-color: transparent;
    color: $brand;
    cursor: not-allowed;
  }
  .c-btn--secondary.is-disabled:hover {
    opacity: 0.4;
    background-color: transparent;
    color: $brand;
  }

  .c-btn--primary.c-btn--large,
  .c-btn--secondary.c-btn--large {
    border: 3px solid $brand;
    &:hover {
      border: 3px solid $brand-hover;
    }
    &:active {
      border: 3px solid $brand-pressed;
    }
    &.is-disabled {
      border: 3px solid $brand;
    }
    &:focus {
      border: 3px solid $brand-accessi;
    }
    &.is-disabled:hover {
      border: 3px solid transparent;
      cursor: not-allowed;
    }

    &:focus:hover {
      border: 3px solid $brand-hover;
    }
    &:focus:active {
      border: 3px solid $brand-pressed;
    }
  }

  .c-btn--primary.c-btn--medium,
  .c-btn--primary.c-btn--small,
  .c-btn--secondary.c-btn--medium,
  .c-btn--secondary.c-btn--small {
    border: 2px solid $brand;
    &:active {
      border: 2px solid $brand-pressed;
    }

    &.is-disabled {
      border: 2px solid $brand;
    }

    &:focus {
      border: 2px solid $brand-accessi;
    }
    .is-disabled:hover {
      border: 2px solid $brand;
    }
    &:focus:hover {
      border: 2px solid $brand-hover;
    }
    &:focus:active {
      border: 2px solid $brand-pressed;
    }
    &:hover:not(.is-disabled) {
      border: 2px solid $brand-hover;
    }
  }

  .c-btn--svg {
    color: $brand;
    border-radius: 5px;
    font-size: 1.6rem;
    font-family: 'Allianz SemiBold', 'Arial', 'Helvetica Neue', 'Helvetica',
      'Roboto', sans-serif;
    text-transform: uppercase;
    padding: 0 20px 0 10px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    margin-left: -10px;
    border: none;
    background: none;

    .c-svg {
      margin-right: 0;
      margin-bottom: 0;
      font-size: 3rem;
    }
  }

  .c-btn--svg:hover {
    border: none;
    cursor: pointer;
  }
  .c-btn--svg:active {
    background-color: $brand-pressed;
    color: #fff;
  }
  .c-btn--svg.is-disabled {
    opacity: 0.4;
    background-color: transparent;
    color: $brand;
    cursor: not-allowed;
  }
  .c-btn--svg.is-disabled:hover {
    opacity: 0.4;
    background-color: transparent;
    color: $brand;
  }

  .c-btn--svg:focus {
    outline: none;
    background-color: $brand-accessi;
    box-shadow: 0 9px 10px rgba(69, 69, 69, 0.5);
    color: white;
  }

  .c-btn--svg.c-btn--large,
  .c-btn--svg.c-btn--medium,
  .c-btn--svg.c-btn--small {
    border: none;
  }
}
