@if (
  $uxEfs==cmb or
    $uxEfs==cmso or
    $uxEfs==cmmc or
    $uxEfs==cmbpro or
    $uxEfs==cmsopro or
    $uxEfs==cmmcpro
) {
  /* ==========================================================================
   COMPONENTS / #BUTTONS
   ========================================================================== */

  // Settings
  $btn-width: 100%;
  $btn-height: 35px;
  $btn-max-width: 230px;
  $btn-spacing-unit: $global-spacing-unit;
  $btn-spacing-unit-small: $global-spacing-unit-small;

  $btn-border-width: $global-border-width;
  $btn-border-color: color(black);
  $btn-radius: $global-border-radius;

  $btn-text-color: color(text);
  $btn-transition: $global-transition;

  $btn-background-color: transparent;
  $btn-color-primary: color(brand);
  $btn-color-primary-mobile: color(brand-mobile);
  $btn-color-secondary: color(grey-50);

  $btn-background-color-disabled: color(grey-30);
  $btn-text-color-disabled: color(white);

  /* Base
  ============================================ */

  /**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 */

  .c-btn {
    display: inline-flex; /* [1] */
    justify-content: center;
    align-items: center;
    vertical-align: middle; /* [2] */
    font: inherit; /* [3] */
    text-align: center; /* [4] */
    margin: 0; /* [4] */
    cursor: pointer; /* [5] */
    height: $btn-height;
    width: $btn-width;
    max-width: $btn-max-width;
    line-height: 1.2;
    padding: 0 var(--spacing-sm);
    border-color: $btn-border-color;
    border-width: $btn-border-width;
    border-style: solid;
    border-radius: $global-border-radius;
    background-color: $btn-background-color;
    color: $btn-text-color;
    transition: $btn-transition;
    font-weight: bold;
    font-size: 13px;
    box-sizing: border-box; // fix
    @include mq($from: medium) {
      font-size: 14px;
    }

    /**
   * Fix un bug Firefox où un `input type="submit"` gagne 2px en plus en padding.
   */
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none; /* [8] */
      outline: none;
    }
  }

  /**
  * Assure que la couleur du texte ne change pas au hover en cas d'utilisation de la
  * class sur un lien
  */

  a.c-btn:hover,
  a.c-btn:active,
  a.c-btn:focus {
    color: color(white);
  }

  /* State
  ============================================ */

  .c-btn.is-disabled {
    background-color: $btn-background-color-disabled;
    color: $btn-text-color-disabled;
    border-color: $btn-background-color-disabled;
    cursor: not-allowed;

    &:hover,
    &:active,
    &:focus {
      background-color: $btn-background-color-disabled;
      color: $btn-text-color-disabled;
      border-color: $btn-background-color-disabled;
    }
  }

  /* Modifiers
  ============================================ */

  .c-btn--primary {
    color: color(white);
    background-color: $btn-color-primary-mobile;
    border-color: $btn-color-primary-mobile;

    @include mq($from: medium) {
      background-color: $btn-color-primary;
      border-color: $btn-color-primary;
    }

    &.c-btn--outlined {
      background-color: color(white);
      color: $btn-color-primary-mobile;
      @include mq($from: medium) {
        color: $btn-color-primary;
      }

      &:hover,
      &:active,
      &:focus {
        color: lighten($color: color(white), $amount: 10);
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-color: lighten($color: $btn-color-primary-mobile, $amount: 10);

      @include mq($from: medium) {
        background-color: lighten($color: $btn-color-primary, $amount: 10);
      }
    }
  }

  .c-btn--secondary {
    color: color(white);
    background-color: $btn-color-secondary;
    border-color: $btn-color-secondary;

    &.c-btn--outlined {
      background-color: color(white);
      color: $btn-color-secondary;

      &:hover,
      &:active,
      &:focus {
        color: lighten($color: color(white), $amount: 10);
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-color: lighten($color: $btn-color-secondary, $amount: 10);
    }
  }

  .c-btn--novatio {
    background-color: color(brand);
    color: color(white);
    border-radius: 20px;
    border-color: color(brand);
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.5);
  }

  .c-btn--svg {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    margin: 0 0 5px 0;

    .c-svg {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  .c-btn--icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 21px;
    font-size: 2.5rem;
    margin-right: 5px;
  }
}
