/* ==========================================================================
   COMPONENTS / #CONTAINER
   ========================================================================== */

// Settings
$container-padding: $global-spacing-unit-small;
$container-margin-bottom-mobile: $global-spacing-unit-small;
$container-margin-bottom-desktop: $global-spacing-unit;
$container-border-radius: $global-border-radius;
$container-background-color: color(grey-90);

@if ($uxEfs==azb) {
  $container-background-color: color(grey-10);
}

/* Base
  ============================================ */

.c-container {
  padding: $container-padding;
  border-radius: $container-border-radius;
  background-color: $container-background-color;
  position: relative;
  display: block;
}

.c-container p:last-of-type {
  margin-bottom: 0;
}

/* Modifiers
  ============================================ */
.c-container--dropdown::before {
  content: '';
  position: absolute;
  top: -15px;
  margin-left: -15px;
  background-color: inherit;
  width: 0;
  height: 0;
  border-left: 15px solid white;
  border-right: 15px solid white;
  border-bottom: 15px solid $container-background-color;
}

.c-container--dropdown- {
  &1::before {
    left: 50%;
  }
  &12::before {
    left: calc(100% / 4);
  }
  &22::before {
    left: calc(100% / 6 * 4.5);
  }
  &13::before {
    left: calc(100% / 6);
  }
  &23::before {
    left: calc(100% / 2);
  }
  &33::before {
    left: calc(100% / 6 * 5.2);
  }
  &14::before {
    left: calc(100% / 10);
  }
  &24::before {
    left: calc(100% / 6 * 2.2);
  }
  &34::before {
    left: calc(100% / 6 * 3.7);
  }
  &44::before {
    left: calc(100% / 6 * 5.4);
  }
}

.c-container--margin-top-md {
  margin-top: 20px;
}

.c-container--margin-bottom-md {
  margin-bottom: 20px;
}
