:host {
  display: block;
  width: 100%;
}

:host(.c-slider-item__unactive) {
  display: none;
}

:host(.c-slider-item__active) {
  display: block;
}

::slotted(*) {
  /* do not drag image inside slider */
  pointer-events: none;
}
