.c-slider-pagination__ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.c-slider-pagination__li {
  position: relative;
  flex: 0 1 auto;
  width: 10px;
  max-width: 10px;
  height: 10px;
  max-height: 10px;
  margin-right: 3px;
  margin-left: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}

.c-slider-pagination__li.active {
  opacity: 0.9;
}

.c-slider-pagination__btn {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
}
