.c-shortcut-wrap {
  position: fixed;
  display: block;
  width: 100%;
  height: 60px;
  bottom: -60px;
  left: 0;
  right: auto;
  box-shadow: 0 -2px 6px -2px rgba(0, 0, 0, 0.5);
  z-index: 20;
}

/* Affiche le barre en bas en portable quand
   l'utilisateur a commencer à faire un défilement */
@media (max-width: 68.125em) {
  .c-shortcut-wrap.is-open-mobile {
    transition: bottom 0.4s;
    bottom: 0;
  }
}

.c-shortcut-nav {
  position: relative;
  height: 100%;
}

.c-shortcut-ul {
  position: relative;
  display: flex;
  flex-direction: row;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  z-index: 5;
}

.c-shortcut-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.c-shortcut-label {
  font-size: 12px;
  font-family: 'Maven Pro', sans-serif;
  color: #424242;
}

.c-shortcut-icon {
  font-size: 25px;
  margin-right: 0;
  color: #424242;
}
