@if ($uxEfs==azb_old) {
  /* stylelint-disable no-descending-specificity */

  /* ==========================================================================
   COMPONENTS / #NAVBAR
   ========================================================================== */

  // Settings
  $nav-font-family: 'Allianz Regular', 'Maven Pro', sans-serif;

  $nav-primary-padding-bottom: $global-spacing-unit-small;
  $nav-primary-margin-bottom: $global-spacing-unit-small;

  $bg-color-nav: color(grey-60);
  $bg-color-subnav: color(grey-90);
  $brand: color(brand);
  $text-color: color(text);

  /* Base
  ============================================ */

  .c-nav {
    position: relative;
    font-family: $nav-font-family;
  }

  .c-nav__list {
    margin: 0;
  }

  bux-nav-bar-item[type='button'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  /* Modifiers
  ============================================ */

  /* Menu gauche
  ============================================ */
  .c-nav--primary {
    margin-bottom: $nav-primary-margin-bottom;
    padding-bottom: $nav-primary-padding-bottom;

    .c-nav__list {
      list-style: none;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 60px;
      width: 200px;
      height: 1px;
      background-color: $bg-color-subnav;
    }

    &.c-nav--noborderbottom::after {
      display: none;
    }

    .nav-bar-item-a {
      position: relative;
      height: 50px;
      padding-left: 60px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 16px;
      text-transform: uppercase;
      transition: all 0.25s ease-in-out;
      width: 100%;
      color: $bg-color-subnav;

      &:hover,
      &:focus {
        background-color: #075994;
        text-decoration: none;
      }
    }

    .c-nav__item:not(is-active) {
      font-weight: normal;
    }

    .c-nav__item.is-active {
      background-color: #333;
      font-weight: bold;

      .c-nav-link__sublabel {
        font-weight: normal;
      }
    }

    .c-nav__icon {
      position: absolute;
      left: 20px;
      margin-right: 0;
      top: 50%;
      font-size: 20px;
      transform: translateY(-50%);
    }
  }

  .c-nav__item-label-badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: 'Allianz CondensedBold', sans-serif;
    height: 20px;
    padding: 0 5px;
    border-radius: 10px;
    font-size: 15px;
    background-color: color(highlight);
    color: white;

    @include mq($from: medium) {
      background-color: color(highlight);
      color: color(text);
    }
  }

  .nav-bar-item-a-btn {
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    padding-right: 0;
    background: #075994;
  }

  /* Sous Menu gauche
  ============================================ */
  .c-nav--primary-sub {
    background-color: $bg-color-subnav;

    bux-nav-bar-item {
      position: relative;
      display: block;
    }

    .nav-bar-item-a-btn {
      background: #fff;
    }

    .nav-bar-item-a {
      width: 100%;
      color: black;
      background-color: #fff;
      border-bottom: 1px solid #efefef;
      padding-left: $global-spacing-unit;
      text-transform: none;
      border-left: 5px solid #fff;

      &:hover,
      &:focus {
        text-decoration: none;
        background-color: #efefef;
        border-left: 5px solid #efefef;
      }
    }

    .nav-bar-item-a.is-active {
      border-left: 5px solid $brand;
      background-color: $bg-color-subnav;
    }
  }

  .c-nav-bar-item--btn {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    font-family: 'Allianz CondensedBold', sans-serif;
    width: 100%;
    height: 50px;
    padding-left: 60px;
    text-align: left;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-size: 16px;
    color: white;
    background-color: $bg-color-nav;
    transition: all 0.25s ease-in-out;

    &:hover,
    &:focus {
      background-color: #075994;
      text-decoration: none;
    }

    &[aria-expanded='true'] {
      background-color: #003781;
    }
  }

  // Affichage du chevron dans la nav de gauche pour le sous menu
  .c-nav-bar-item--btn-chevron::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -2px;
    transform: rotate(45deg) translateX(50%);
    transition: background-color 0.3s ease-out;
    left: 50%;
  }

  .c-nav-bar-item--btn-chevron[aria-expanded='false']::before {
    background: $bg-color-nav;
  }

  .c-nav-bar-item--btn-chevron[aria-expanded='true']::before {
    background: $bg-color-subnav;
  }

  .c-nav__item.is-active
    .c-nav-bar-item--btn-chevron[aria-expanded='false']::before {
    background-color: transparent;
  }

  .c-nav__item.is-active
    .c-nav-bar-item--btn-chevron[aria-expanded='true']::before {
    background-color: $bg-color-subnav;
  }

  .nav-bar-item--btn:hover,
  .nav-bar-item--btn:focus {
    &::before {
      background-color: #555;
    }
  }

  // FIN Affichage du chevron dans la nav de gauche pour le sous menu

  /* Nav Sociale dans le menu gauche
  ============================================ */
  .c-nav--sociaux {
    margin-bottom: $nav-primary-margin-bottom;
    padding-bottom: $nav-primary-padding-bottom;
  }

  .c-nav--sociaux .c-nav__list {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .c-nav--sociaux .nav-bar-item-a {
    color: $bg-color-subnav;
    margin: 20px;
  }

  .c-nav--sociaux .c-nav__icon {
    font-size: 45px;

    &:hover {
      color: white;
    }
  }

  /* Menu de niveau trois juste au dessus du contenue
  ============================================ */
  .c-nav--secondary {
    .c-nav__list {
      display: flex;
      justify-content: space-evenly;
      padding: 5px;
      list-style: none;
      margin: 0 -5px $global-spacing-unit-small -5px;
      font-size: 11px;
      background: linear-gradient(0deg, #e3e3e3 0%, #d3d3d3 100%);
      border-radius: 30px;

      @include mq($from: medium) {
        margin: 0 0 $global-spacing-unit 0;
        background: linear-gradient(0deg, #e3e3e3 0%, #d3d3d3 100%);
        font-size: 13px;
        border-radius: 50px;
      }
    }

    .c-nav__list-li {
      flex-grow: 1;
      flex-basis: 0;
    }

    .c-nav__item {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
      position: relative;
      z-index: 2;

      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        width: 100%;
        height: 40px;
        padding: 0 2px;
        color: #424242;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;

        @include mq($from: medium) {
          height: 50px;
        }

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }
    }

    .c-nav__item.is-active > a {
      color: color(white);
      text-decoration: none;
    }
  }

  .c-nav-link__sublabel {
    display: block;
    font-size: 11px;
    text-transform: initial;

    @include mq($from: medium) {
      font-size: 12px;
    }
  }

  .c-nav-bar-item--cont {
    position: relative;
    display: block;
    overflow: hidden;
    transition: height 0.3s ease-out;
  }

  .elastic-element {
    height: calc(100% - 10px);
    margin-top: 5px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 50px;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(1, -0.47, 0.28, 1.13);
    background: $brand;

    @include mq($from: medium) {
      background: $brand;
    }
  }

  /* Footer desktop
  ============================================ */
  .c-nav--footer {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    .c-nav__list {
      list-style: none;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }

    .c-nav__list-li--last {
      margin-left: auto;

      .nav-bar-item-a {
        margin-right: 0;
      }
    }

    .nav-bar-item-div {
      margin-right: 20px;
    }

    .nav-bar-item-a {
      color: #616161;
      margin-right: 20px;
    }
  }

  .c-nav--footer__auth {
    font-size: 11px;

    .c-nav__list {
      flex-flow: column;
    }

    .c-nav__list-li {
      margin-bottom: 20px;
    }

    .c-nav__list-li--last {
      margin-top: 10px;
      margin-left: inherit;
    }

    @include mq($from: large) {
      .c-nav__list {
        flex-flow: row;
      }

      .c-nav__list-li {
        margin-bottom: 0;
      }

      .c-nav__list-li--last {
        margin-top: 0;
        margin-left: auto;
      }
    }
  }

  /* Footer Mobile
  ============================================ */
  .c-nav--footermobile {
    .c-nav__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .c-nav__item {
      display: flex;
      align-items: center;
      min-height: 40px;
    }

    .nav-bar-item-a,
    .nav-bar-item-div {
      color: $bg-color-subnav;
      font-size: 11px;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}
